Repository filamentphp/filamentphp.com, pull requests merged in 2023-12, with the labels that each got.

#253 Update documentation url and has_translations flag
  content/plugins/heloufir-kanban.md
Labels: plugin update

#262 RJS/Fix media library description
  content/plugins/ralphjsmit-media-library-manager.md
Labels: plugin update

#269 RJS/Plugin updates
  content/plugins/ralphjsmit-onboarding-manager-pro.md
  content/plugins/ralphjsmit-pulse.md
Labels: plugin update

#268 Update zeus images
  content/plugins/images/lara-zeus-bolt-pro.png
  content/plugins/images/lara-zeus-bolt.png
  content/plugins/images/lara-zeus-dynamic-dashboard.png
  content/plugins/images/lara-zeus-helen.png
  content/plugins/images/lara-zeus-hermes.png
  content/plugins/images/lara-zeus-matrix-choice.png
  content/plugins/images/lara-zeus-qr.png
  content/plugins/images/lara-zeus-sky.png
  content/plugins/images/lara-zeus-thunder.png
  content/plugins/images/lara-zeus-wind.png
  content/plugins/lara-zeus-bolt-pro.md
  content/plugins/lara-zeus-bolt.md
  content/plugins/lara-zeus-helen.md
  content/plugins/lara-zeus-hermes.md
  content/plugins/lara-zeus-qr.md
  content/plugins/lara-zeus-sky.md
  content/plugins/lara-zeus-thunder.md
  content/plugins/lara-zeus-wind.md
  content/plugins/thumbnails/lara-zeus-bolt-pro.png
  content/plugins/thumbnails/lara-zeus-bolt.png
  content/plugins/thumbnails/lara-zeus-dynamic-dashboard.png
  content/plugins/thumbnails/lara-zeus-helen.png
  content/plugins/thumbnails/lara-zeus-hermes.png
  content/plugins/thumbnails/lara-zeus-matrix-choice.png
  content/plugins/thumbnails/lara-zeus-qr.png
  content/plugins/thumbnails/lara-zeus-sky.png
  content/plugins/thumbnails/lara-zeus-thunder.png
  content/plugins/thumbnails/lara-zeus-wind.png
Labels: plugin update

#265 [Plugin] Filament Timezone Field
  content/authors/avatars/omar-haris.jpg
  content/authors/omar-haris.md
  content/plugins/images/omar-haris-timezone-field.jpg
  content/plugins/omar-haris-timezone-field.md
  public/images/content/authors/avatars/omar-haris.webp
  public/images/content/plugins/images/omar-haris-timezone-field.webp
Labels: new plugin, new author

#254 [Plugin] Page for DutchCodingCompany/filament-socialite
  content/authors/avatars/dododedodonl.jpg
  content/authors/dododedodonl.md
  content/plugins/dododedodonl-socialite.md
  content/plugins/images/dododedodonl-socialite.png
  public/images/content/authors/avatars/dododedodonl.webp
  public/images/content/plugins/images/dododedodonl-socialite.webp
Labels: new plugin, new author

#270 Add Filament 3.1 news article
  content/articles/alexandersix-filament-v3-1.md
  content/authors/alexandersix.md
  content/authors/avatars/alexandersix.jpg
  public/images/content/articles/alexandersix-filament-v3-1/banner.webp
  public/images/content/articles/alexandersix-filament-v3-1/csv-import.webp
  public/images/content/articles/alexandersix-filament-v3-1/global-dashboard-filters.webp
  public/images/content/articles/alexandersix-filament-v3-1/parent-navigation.webp
  public/images/content/articles/alexandersix-filament-v3-1/query-builder.webp
  public/images/content/articles/alexandersix-filament-v3-1/repeater-item-actions.webp
  public/images/content/articles/alexandersix-filament-v3-1/sub-navigation.webp
  public/images/content/authors/avatars/alexandersix.webp
  resources/views/components/team/member-list.blade.php
Labels: new article, new author

#267 Laravel Scout Plugin for Filament
  content/authors/avatars/kainiklas.jpg
  content/authors/kainiklas.md
  content/plugins/images/kainiklas-laravel-scout.jpg
  content/plugins/kainiklas-laravel-scout.md
  public/images/content/authors/avatars/kainiklas.webp
  public/images/content/plugins/images/kainiklas-laravel-scout.webp
Labels: new plugin, new author

#273 Update Readme url
  content/plugins/34ml-translatable-field.md
Labels: plugin update

#284 RJS/Update plugin checkout URL
  content/plugins/ralphjsmit-media-library-manager.md
  content/plugins/ralphjsmit-notifications-pro.md
  content/plugins/ralphjsmit-onboarding-manager-pro.md
  content/plugins/ralphjsmit-pulse.md
Labels: plugin update
