Repository filamentphp/filamentphp.com, pull requests merged in 2023-07, with the labels that each got.

#40 RJS/Docs update
  content/authors/ralphjsmit.md
  content/plugins/ralphjsmit-media-library-manager.md
Labels: plugin update

#45 auther ariaieboy + jalali plugins
  content/authors/ariaieboy.md
  content/authors/avatars/ariaieboy.jpg
  content/plugins/ariaieboy-jalali-datetime.md
  content/plugins/ariaieboy-jalali-datetimepicker.md
  content/plugins/images/ariaieboy-jalali-datetime.jpg
  content/plugins/images/ariaieboy-jalali-datetimepicker.jpg
  public/images/content/authors/avatars/ariaieboy.jpg
  public/images/content/plugins/images/ariaieboy-jalali-datetime.jpg
  public/images/content/plugins/images/ariaieboy-jalali-datetimepicker.jpg
Labels: new plugin, pending changes

#47 docs: Add visible heading anchors in new design
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/src/styles/tailwind.css
Labels: enhancement
