Repository filamentphp/filamentphp.com, pull requests merged in 2023-11, with the labels that each got.

#234 RJS/Update media library docs
  content/plugins/ralphjsmit-media-library-manager.md
Labels: plugin update

#237 [New Plugin] Date Scopes Filter
  content/plugins/aymanalhattami-date-scopes-filter.md
  content/plugins/images/aymanalhattami-date-scopes-filter.jpg
  public/images/content/plugins/images/aymanalhattami-date-scopes-filter.webp
Labels: new plugin

#224 add matrix choice plugin
  content/plugins/images/lara-zeus-matrix-choice.png
  content/plugins/lara-zeus-bolt.md
  content/plugins/lara-zeus-matrix-choice.md
  content/plugins/lara-zeus-sky.md
  content/plugins/lara-zeus-wind.md
  content/plugins/thumbnails/lara-zeus-matrix-choice.png
  public/images/content/plugins/images/lara-zeus-matrix-choice.webp
  public/images/content/plugins/thumbnails/lara-zeus-matrix-choice.webp
Labels: new plugin

#230 Update solution-forest-cms.md
  content/plugins/solution-forest-cms.md
Labels: plugin update

#233 Update has_translations for SelectTree plugin
  content/plugins/codewithdennis-select-tree.md
Labels: plugin update

#235 Adds the filament approvals package
  content/plugins/eightynine-approvals.md
  content/plugins/images/eightynine-approvals.jpg
  public/images/content/plugins/images/eightynine-approvals.webp
Labels: new plugin

#238 Overide the Filament PanelProvider (Articles)
  content/articles/shaung-bhone-overriding-the-filament-panel-provider.md
  content/authors/avatars/shaung-bhone.jpg
  content/authors/shaung-bhone.md
  public/images/content/authors/avatars/shaung-bhone.webp
Labels: new article

#244 Add Simple Lightbox Plugin
  content/plugins/images/solution-forest-simplelightbox.jpg
  content/plugins/solution-forest-simplelightbox.md
  public/images/content/plugins/images/solution-forest-simplelightbox.webp
Labels: new plugin

#225 add swiper plugin
  content/plugins/images/rupadana-swiper.png
  content/plugins/rupadana-swiper.md
  public/images/content/plugins/images/rupadana-swiper.webp
Labels: new plugin

#241 added plugin: input-select-affix, as well as author page
  content/authors/avatars/marvinosswald.jpeg
  content/authors/marvinosswald.md
  content/plugins/images/marvinosswald-input-select-affix.jpg
  content/plugins/marvinosswald-input-select-affix.md
  public/images/content/authors/avatars/marvinosswald.webp
  public/images/content/plugins/images/marvinosswald-input-select-affix.webp
Labels: new plugin

#228 Add Profile Information
  content/authors/avatars/ousid.png
  content/authors/ousid.md
  public/images/content/authors/avatars/ousid.webp
Labels: new author

#221 Add heloufir-filament-keycloak-sso plugin
  content/authors/avatars/heloufir.jpg
  content/authors/heloufir.md
  content/plugins/heloufir-keycloak-sso.md
  content/plugins/images/heloufir-keycloak-sso.jpg
  public/images/content/authors/avatars/heloufir.webp
  public/images/content/plugins/images/heloufir-keycloak-sso.webp
Labels: new plugin, paid plugin

#223 Add heloufir-filament-kanban plugin
  content/plugins/heloufir-kanban.md
  content/plugins/images/heloufir-kanban.png
  public/images/content/plugins/images/heloufir-kanban.webp
Labels: new plugin, paid plugin

#245 add quadrubo-model-settings plugin
  content/authors/avatars/quadrubo.jpg
  content/authors/quadrubo.md
  content/plugins/images/quadrubo-model-settings.png
  content/plugins/quadrubo-model-settings.md
  public/images/content/authors/avatars/quadrubo.webp
  public/images/content/plugins/images/quadrubo-model-settings.webp
Labels: new plugin, new author

#197 Add MoonGuard plugin
  content/authors/avatars/luis-guette.jpg
  content/authors/luis-guette.md
  content/plugins/images/luis-guette-moonguard.jpg
  content/plugins/luis-guette-moonguard.md
  public/images/content/authors/avatars/luis-guette.webp
  public/images/content/plugins/images/luis-guette-moonguard.webp
Labels: new plugin

#242 Fix bug for all records with fast table pagination
  content/articles/danharrin-fast-table-pagination.md
Labels: enhancement

#229 Add Cloudflare Turnstile Plugin
  content/plugins/images/ousid-cloudflare-turnstile.png
  content/plugins/ousid-cloudflare-turnstile.md
  public/images/content/plugins/images/ousid-cloudflare-turnstile.webp
Labels: new plugin, pending changes

#222 Update Plugin - noxoua-activity-log
  content/authors/avatars/noxoua.jpeg
  content/authors/avatars/noxoua.png
  content/plugins/images/noxoua-activity-log.png
  content/plugins/noxoua-activity-log.md
  public/images/content/authors/avatars/noxoua.webp
  public/images/content/plugins/images/noxoua-activity-log.webp
Labels: plugin update

#139 =added gRecaptcha and PhoneField plugins
  content/authors/abanoub-nassem.md
  content/authors/avatars/abanoub-nassem.jpg
  content/plugins/abanoub-nassem-grecaptcha-field.md
  content/plugins/abanoub-nassem-phone-field.md
  content/plugins/images/abanoub-nassem-grecaptcha-field.jpg
  content/plugins/images/abanoub-nassem-phone-field.jpg
  public/images/content/authors/avatars/abanoub-nassem.webp
  public/images/content/plugins/images/abanoub-nassem-grecaptcha-field.webp
  public/images/content/plugins/images/abanoub-nassem-phone-field.webp
Labels: new plugin, pending changes

#209 Added a code editor plugin
  content/authors/avatars/wiebenieuwenhuis.jpg
  content/authors/wiebenieuwenhuis.md
  content/plugins/images/wiebenieuwenhuis-code-editor.png
  content/plugins/wiebenieuwenhuis-code-editor.md
  public/images/content/authors/avatars/wiebenieuwenhuis.webp
  public/images/content/plugins/images/wiebenieuwenhuis-code-editor.webp
Labels: new plugin, pending changes
