Repository filamentphp/filamentphp.com, pull requests merged in 2023-08, with the labels that each got.

#58 Plugin updates
  content/authors/kenneth-sese.md
  content/plugins/images/kenneth-sese-filter-sets.png
  content/plugins/images/kenneth-sese-stacked-image-column.png
  content/plugins/images/kenneth-sese-toggle-icon-column.png
  content/plugins/kenneth-sese-filter-sets.md
  content/plugins/kenneth-sese-stacked-image-column.md
  content/plugins/kenneth-sese-toggle-icon-column.md
  public/images/content/plugins/images/kenneth-sese-filter-sets.png
  public/images/content/plugins/images/kenneth-sese-stacked-image-column.png
  public/images/content/plugins/images/kenneth-sese-toggle-icon-column.png
Labels: plugin update

#62 Add pboivin author and pboivin-peek plugin
  content/authors/avatars/pboivin.jpg
  content/authors/pboivin.md
  content/plugins/images/pboivin-peek.jpg
  content/plugins/pboivin-peek.md
Labels: new plugin

#59 Leandrocfe tricks
  content/articles/leandrocfe-brazilian-cpfcnpj-field.md
  content/articles/leandrocfe-brazilian-phone-number-field.md
Labels: new article

#60 Leandrocfe - articles
  content/articles/leandrocfe-easy-way-to-create-a-filament-theme-in-minutes.md
  content/articles/leandrocfe-how-to-consume-an-external-api-with-filament-tables.md
  content/articles/leandrocfe-how-to-refresh-widgets-when-table-actions-are-fired.md
  content/articles/leandrocfe-how-to-write-tests-for-filament-admin-panels.md
Labels: new article

#63 Fix torchlight linenumber margin
  resources/css/torchlight.css
Labels: bug

#64 Lara zeus fix descriptions
  content/plugins/lara-zeus-sky.md
  content/plugins/lara-zeus-wind.md
Labels: plugin update

#70 RJS/Update docs
  content/plugins/ralphjsmit-media-library-manager.md
  resources/views/components/articles/list.blade.php
  routes/web.php
Labels: plugin update

#66 Re-added Icon Picker
  content/authors/avatars/guava.jpg
  content/authors/guava.md
  content/plugins/guava-icon-picker.md
  content/plugins/images/guava-icon-picker.jpg
  public/images/content/authors/avatars/guava.jpg
  public/images/content/plugins/images/guava-icon-picker.jpg
Labels: new plugin

#69 Add filament forms tinyeditor to plugins section
  content/authors/avatars/mohamedsabil83.jpg
  content/authors/mohamedsabil83.md
  content/plugins/images/mohamedsabil83-tinyeditor.png
  content/plugins/mohamedsabil83-tinyeditor.md
  public/images/content/authors/avatars/mohamedsabil83.jpg
  public/images/content/plugins/images/mohamedsabil83-tinyeditor.png
Labels: new plugin

#76 Plugin Submission: coolsam/flatpickr
  content/plugins/coolsam-flatpickr.md
  content/plugins/images/coolsam-flatpickr.png
  public/images/content/plugins/images/coolsam-flatpickr.png
Labels: new plugin

#96 Update docs V3-proof | Add upgrade guides, replace all references to config with `$plugin`, etc.
  .gitignore
  content/authors/ralphjsmit.md
  content/plugins/ralphjsmit-media-library-manager.md
  content/plugins/ralphjsmit-notifications-pro.md
  content/plugins/ralphjsmit-onboarding-manager-pro.md
  resources/views/components/articles/list.blade.php
Labels: plugin update

#87 Add ip to country flag plugin
  content/authors/avatars/mohammadhprp.jpg
  content/authors/mohammadhprp.md
  content/plugins/images/mohammadhprp-ip-to-country-flag.jpg
  content/plugins/mohammadhprp-ip-to-country-flag.md
  public/images/content/authors/avatars/mohammadhprp.jpg
  public/images/content/plugins/images/mohammadhprp-ip-to-country-flag.jpg
Labels: new plugin

#95 Add sponsors url
  README.md
  app/Models/Author.php
  resources/views/components/articles/list.blade.php
  resources/views/plugins/view-plugin.blade.php
Labels: enhancement

#107 [Article] Easy way to benefit from the new color mechanism in frontend
  content/articles/mohamedsabil83-customizing-colors-per-user-outside-of-a-panel.md
Labels: new article

#115 Docs update
  content/plugins/ralphjsmit-media-library-manager.md
Labels: plugin update

#108 Submission of Resource Lock plugin
  content/authors/avatars/kenepa.jpg
  content/authors/kenepa.md
  content/plugins/images/kenepa-resource-lock.jpg
  content/plugins/kenepa-resource-lock.md
  public/images/content/authors/avatars/kenepa.jpg
  public/images/content/plugins/images/kenepa-resource-lock.jpg
Labels: new plugin

#120 Update thumbnail
  content/plugins/images/dasundev-access-secret.jpg
Labels: plugin update

#119 Add Mustafa Afat author and Filament V3 Cloudflare Turnstile Integration Plugin
  content/authors/afatmustafa.md
  content/authors/avatars/afatmustafa.jpg
  content/plugins/afatmustafa-turnstile.md
  content/plugins/images/afatmustafa-turnstile.jpg
  public/images/content/authors/avatars/afatmustafa.jpg
  public/images/content/plugins/images/afatmustafa-turnstile.jpg
Labels: new plugin

#133 Media library plugin docs update
  content/plugins/ralphjsmit-media-library-manager.md
Labels: plugin update

#126 Add authentication log plugin
  content/plugins/images/tapp-network-authentication-log.jpg
  content/plugins/tapp-network-authentication-log.md
Labels: new plugin

#127 Update image
  content/plugins/images/dasundev-access-secret.jpg
Labels: plugin update

#136 Z3d0X Author Profile & Plugins
  content/articles/z3d0x-search-fill-form-data-automatically.md
  content/authors/avatars/z3d0x.jpg
  content/authors/z3d0x.md
  content/plugins/images/z3d0x-fabricator.jpg
  content/plugins/images/z3d0x-logger.jpeg
  content/plugins/z3d0x-fabricator.md
  content/plugins/z3d0x-logger.md
  public/images/content/authors/avatars/z3d0x.jpg
  public/images/content/plugins/images/z3d0x-fabricator.jpg
  public/images/content/plugins/images/z3d0x-logger.jpeg
Labels: new plugin, new article

#135 Introduce the ability to add multiple docs pages for plugins
  README.md
  app/Models/Plugin.php
  content/authors/avatars/christopher-pitt.jpg
  content/authors/christopher-pitt.md
  public/images/content/authors/avatars/christopher-pitt.jpg
  resources/views/plugins/view-plugin.blade.php
Labels: enhancement

#145 Update sponsor link
  docs/src/components/Hero.astro
  resources/views/components/footer.blade.php
  resources/views/components/home/sponsors.blade.php
  resources/views/components/layouts/app.blade.php
Labels: enhancement

#123 feat: add njxqlus progressbar plugin
  content/authors/avatars/njxqlus.jpg
  content/authors/njxqlus.md
  content/plugins/images/njxqlus-progress-bar.jpg
  content/plugins/njxqlus-progress-bar.md
  public/images/content/authors/avatars/njxqlus.jpg
  public/images/content/plugins/images/njxqlus-progress-bar.jpg
Labels: new plugin

#141 Update marjose123-lockscreen.md
  content/plugins/marjose123-lockscreen.md
Labels: plugin update

#140 Add Pennant feature flags plugin
  content/authors/avatars/maartenpaauw.jpg
  content/authors/maartenpaauw.md
  content/plugins/images/maartenpaauw-pennant.jpg
  content/plugins/maartenpaauw-pennant.md
  public/images/content/authors/avatars/maartenpaauw.jpg
  public/images/content/plugins/images/maartenpaauw-pennant.jpg
Labels: new plugin

#143 Article/localized country select
  content/articles/josefbehr-how-to-implement-a-localized-country-select-field.md
  content/authors/avatars/josefbehr.jpg
  content/authors/josefbehr.md
Labels: new article

#152 Fix title and link in my article
  content/articles/modrictin-include-vite-built-js-and-css-files-in-your-project.md
  content/articles/modrictin-multiple-vite-and-tailwind-configs.md
Labels: article update

#153 Pennant plugin docs update
  content/plugins/maartenpaauw-pennant.md
Labels: plugin update
