Repository filamentphp/filamentphp.com, pull requests merged in 2024-06, with the labels that each got.

#398 Add Guava Knowledge Base plugin
  content/plugins/guava-knowledge-base.md
  content/plugins/images/guava-knowledge-base.jpg
  public/images/content/plugins/images/guava-knowledge-base.webp
Labels: new plugin, pending changes

#412 Create filament-cookie-consent.md
  content/authors/avatars/marcogermani87.jpeg
  content/authors/marcogermani87.md
  content/plugins/images/marcogermani87-cookie-consent.jpeg
  content/plugins/marcogermani87-cookie-consent.md
  public/images/content/authors/avatars/marcogermani87.webp
  public/images/content/plugins/images/marcogermani87-cookie-consent.webp
Labels: new plugin, pending changes, new author

#406 Plugin: List TomatoPHP Community Plugins
  content/authors/3x1io.md
  content/authors/avatars/3x1io.jpeg
  content/plugins/3x1io-tomato-accounts.md
  content/plugins/3x1io-tomato-alerts.md
  content/plugins/3x1io-tomato-artisan.md
  content/plugins/3x1io-tomato-developer-gate.md
  content/plugins/3x1io-tomato-locations.md
  content/plugins/3x1io-tomato-menus.md
  content/plugins/3x1io-tomato-plugins.md
  content/plugins/3x1io-tomato-settings-hub.md
  content/plugins/3x1io-tomato-splade.md
  content/plugins/3x1io-tomato-translations.md
  content/plugins/3x1io-tomato-types.md
  content/plugins/3x1io-tomato-users.md
  content/plugins/3x1io-tomato-wallet.md
  content/plugins/images/3x1io-tomato-accounts.jpg
  content/plugins/images/3x1io-tomato-alerts.jpg
  content/plugins/images/3x1io-tomato-artisan.jpg
  content/plugins/images/3x1io-tomato-developer-gate.jpg
  content/plugins/images/3x1io-tomato-locations.jpg
  content/plugins/images/3x1io-tomato-menus.jpg
  content/plugins/images/3x1io-tomato-plugins.jpg
  content/plugins/images/3x1io-tomato-settings-hub.jpg
  content/plugins/images/3x1io-tomato-splade.jpg
  content/plugins/images/3x1io-tomato-translations.jpg
  content/plugins/images/3x1io-tomato-types.jpg
  content/plugins/images/3x1io-tomato-users.jpg
  content/plugins/images/3x1io-tomato-wallet.jpg
  public/images/content/authors/avatars/3x1io.webp
  public/images/content/plugins/images/3x1io-tomato-accounts.webp
  public/images/content/plugins/images/3x1io-tomato-alerts.webp
  public/images/content/plugins/images/3x1io-tomato-artisan.webp
  public/images/content/plugins/images/3x1io-tomato-developer-gate.webp
  public/images/content/plugins/images/3x1io-tomato-locations.webp
  public/images/content/plugins/images/3x1io-tomato-menus.webp
  public/images/content/plugins/images/3x1io-tomato-plugins.webp
  public/images/content/plugins/images/3x1io-tomato-settings-hub.webp
  public/images/content/plugins/images/3x1io-tomato-splade.webp
  public/images/content/plugins/images/3x1io-tomato-translations.webp
  public/images/content/plugins/images/3x1io-tomato-types.webp
  public/images/content/plugins/images/3x1io-tomato-users.webp
  public/images/content/plugins/images/3x1io-tomato-wallet.webp
Labels: new plugin, new author

#421 [Plugin]: Record Navigation
  content/authors/avatars/jose-espinal.jpg
  content/authors/jose-espinal.md
  content/plugins/images/jose-espinal-record-navigation.jpg
  content/plugins/jose-espinal-filament-record-navigation.md
  public/images/content/authors/avatars/jose-espinal.webp
  public/images/content/plugins/images/jose-espinal-record-navigation.webp
Labels: new plugin, new author

#423 [Plugin] Add Stripe payment link plugin
  content/authors/andreia-bohner.md
  content/authors/avatars/andreia-bohner.jpg
  content/plugins/andreia-bohner-stripe-payment-link.md
  content/plugins/images/andreia-bohner-stripe-payment-link.jpg
  public/images/content/authors/avatars/andreia-bohner.webp
  public/images/content/plugins/images/andreia-bohner-stripe-payment-link.webp
Labels: new plugin, new author

#424 [Plugin] - CodeMirror editor field
  content/plugins/dotswan-code-mirror-editor.md
  content/plugins/images/dotswan-code-mirror-editor.png
  public/images/content/plugins/images/dotswan-code-mirror-editor.webp
Labels: new plugin, new author

#422 Add new plugin: Filament support for`josdejong/jsoneditor` to preview json
  content/authors/ahmedabdelaal.md
  content/authors/avatars/ahmedabdelaal.jpeg
  content/plugins/ahmedabdelaal-json-preview.md
  content/plugins/images/ahmedabdelaal-json-preview.png
  public/images/content/authors/avatars/ahmedabdelaal.webp
  public/images/content/plugins/images/ahmedabdelaal-json-preview.webp
Labels: new plugin, pending changes, new author

#425 Add Gerenuk author and Banhammer plugin
  content/authors/avatars/gerenuk.jpg
  content/authors/gerenuk.md
  content/plugins/gerenuk-banhammer.md
  content/plugins/images/gerenuk-banhammer.png
  public/images/content/authors/avatars/gerenuk.webp
  public/images/content/plugins/images/gerenuk-banhammer.webp
Labels: new plugin, new author

#426 Add ActivityLog plugin and Author profile
  content/authors/avatars/rmsramos.jpeg
  content/authors/rmsramos.md
  content/plugins/images/rmsramos-activitylog.jpeg
  content/plugins/rmsramos-activitylog.md
  public/images/content/authors/avatars/rmsramos.webp
  public/images/content/plugins/images/rmsramos-activitylog.webp
Labels: new plugin, new author

#427 [Plugin] - Add Icons Picker & Provider Plugin
  content/plugins/3x1io-tomato-icons.md
  content/plugins/images/3x1io-tomato-icons.jpg
  public/images/content/plugins/images/3x1io-tomato-icons.webp
Labels: new plugin

#429 [Plugin] - Add File Browser Plugin
  content/plugins/3x1io-tomato-browser.md
  content/plugins/images/3x1io-tomato-browser.jpg
  public/images/content/plugins/images/3x1io-tomato-browser.webp
Labels: new plugin

#432 [Plugin] Webhook Client
  content/plugins/images/tapp-network-webhook-client.jpg
  content/plugins/tapp-network-webhook-client.md
  public/images/content/plugins/images/tapp-network-webhook-client.webp
Labels: new plugin

#434 [Plugin] Terms Guard
  content/plugins/images/yebor974-terms-guard.png
  content/plugins/yebor974-terms-guard.md
  public/images/content/plugins/images/yebor974-terms-guard.webp
Labels: new plugin, paid plugin

#435 [Plugin] - Add Firebase Integration Plugin
  content/plugins/3x1io-tomato-fcm.md
  content/plugins/images/3x1io-tomato-fcm.jpg
  public/images/content/plugins/images/3x1io-tomato-fcm.webp
Labels: new plugin

#436 [Plugin] – pxlrbt/filament-changelog
  content/plugins/images/pxlrbt-changelog.png
  content/plugins/pxlrbt-changelog.md
  public/images/content/plugins/images/pxlrbt-changelog.webp
Labels: new plugin

#402 new plugins and replace images
  content/plugins/icetalker-picker.md
  content/plugins/icetalker-table-repeatable-entry.md
  content/plugins/images/icetalker-chatgpt-bot.jpg
  content/plugins/images/icetalker-picker.jpg
  content/plugins/images/icetalker-stepper.jpg
  content/plugins/images/icetalker-table-repeatable-entry.jpg
  content/plugins/images/icetalker-table-repeater.jpg
  public/images/content/plugins/images/icetalker-chatgpt-bot.webp
  public/images/content/plugins/images/icetalker-picker.webp
  public/images/content/plugins/images/icetalker-stepper.webp
  public/images/content/plugins/images/icetalker-table-repeatable-entry.webp
  public/images/content/plugins/images/icetalker-table-repeater.webp
Labels: new plugin, pending changes

#437 Update Tomato Packages Image Covers & Some Categories
  content/plugins/3x1io-tomato-accounts.md
  content/plugins/3x1io-tomato-menus.md
  content/plugins/3x1io-tomato-settings-hub.md
  content/plugins/3x1io-tomato-translations.md
  content/plugins/images/3x1io-tomato-accounts.jpg
  content/plugins/images/3x1io-tomato-alerts.jpg
  content/plugins/images/3x1io-tomato-artisan.jpg
  content/plugins/images/3x1io-tomato-browser.jpg
  content/plugins/images/3x1io-tomato-developer-gate.jpg
  content/plugins/images/3x1io-tomato-icons.jpg
  content/plugins/images/3x1io-tomato-locations.jpg
  content/plugins/images/3x1io-tomato-menus.jpg
  content/plugins/images/3x1io-tomato-plugins.jpg
  content/plugins/images/3x1io-tomato-settings-hub.jpg
  content/plugins/images/3x1io-tomato-splade.jpg
  content/plugins/images/3x1io-tomato-translations.jpg
  content/plugins/images/3x1io-tomato-types.jpg
  content/plugins/images/3x1io-tomato-users.jpg
  content/plugins/images/3x1io-tomato-wallet.jpg
  public/images/content/plugins/images/3x1io-tomato-accounts.webp
  public/images/content/plugins/images/3x1io-tomato-alerts.webp
  public/images/content/plugins/images/3x1io-tomato-artisan.webp
  public/images/content/plugins/images/3x1io-tomato-browser.webp
  public/images/content/plugins/images/3x1io-tomato-developer-gate.webp
  public/images/content/plugins/images/3x1io-tomato-icons.webp
  public/images/content/plugins/images/3x1io-tomato-locations.webp
  public/images/content/plugins/images/3x1io-tomato-menus.webp
  public/images/content/plugins/images/3x1io-tomato-plugins.webp
  public/images/content/plugins/images/3x1io-tomato-settings-hub.webp
  public/images/content/plugins/images/3x1io-tomato-splade.webp
  public/images/content/plugins/images/3x1io-tomato-translations.webp
  public/images/content/plugins/images/3x1io-tomato-types.webp
  public/images/content/plugins/images/3x1io-tomato-users.webp
  public/images/content/plugins/images/3x1io-tomato-wallet.webp
Labels: plugin update

#439 [Plugin] - Add CMS Builder Plugin
  content/plugins/3x1io-tomato-cms.md
  content/plugins/images/3x1io-tomato-cms.jpg
  public/images/content/plugins/images/3x1io-tomato-cms.webp
Labels: new plugin

#440 Add plugin and author
  content/authors/avatars/tobias-ladzenski.jpg
  content/authors/tobias-ladzenski.md
  content/plugins/images/tobias-ladzenski-simple-pages.jpg
  content/plugins/tobias-ladzenski-simple-pages.md
  public/images/content/authors/avatars/tobias-ladzenski.webp
  public/images/content/plugins/images/tobias-ladzenski-simple-pages.webp
Labels: new plugin, new author

#441 [Plugin] Add World Clock Plugin and change cover edit profile
  content/plugins/images/joaopaulolndev-edit-profile.jpg
  content/plugins/images/joaopaulolndev-world-clock.jpg
  content/plugins/joaopaulolndev-world-clock.md
  public/images/content/plugins/images/joaopaulolndev-edit-profile.webp
  public/images/content/plugins/images/joaopaulolndev-world-clock.webp
Labels: new plugin

#428 [Plugin] - Add Helper Classes Plugin
  content/plugins/3x1io-tomato-helpers.md
  content/plugins/images/3x1io-tomato-helpers.jpg
  public/images/content/plugins/images/3x1io-tomato-helpers.webp
Labels: new plugin, pending changes

#430 [Author] - Add muath-ye author and add a laravel-excel package wrapper plugin
  content/authors/avatars/muath-alsowadi.jpg
  content/authors/muath-alsowadi.md
  content/plugins/images/muath-alsowadi-excel.jpg
  content/plugins/muath-alsowadi-excel.md
  public/images/content/authors/avatars/muath-alsowadi.webp
  public/images/content/plugins/images/muath-alsowadi-excel.webp
Labels: new plugin, pending changes, new author

#442 Added Filament Umami Widgets
  content/plugins/images/tallyschmeits-umami-widgets.jpg
  content/plugins/tallyschmeits-umami-widgets.md
  public/images/content/plugins/images/tallyschmeits-umami-widgets.webp
Labels: new plugin

#444 [Plugin] - Add Resource API Generator Plugin
  content/plugins/3x1io-tomato-api.md
  content/plugins/images/3x1io-tomato-api.jpg
  public/images/content/plugins/images/3x1io-tomato-api.webp
Labels: new plugin

#445 [Plugin] Value range filter
  content/plugins/images/tapp-network-value-range-filter.jpg
  content/plugins/tapp-network-value-range-filter.md
  public/images/content/plugins/images/tapp-network-value-range-filter.webp
Labels: new plugin

#446 [Plugin] Add new plugins
  content/plugins/images/joaopaulolndev-check-ssl-widget.jpg
  content/plugins/images/joaopaulolndev-edit-env.jpg
  content/plugins/images/joaopaulolndev-pdf-viewer.jpg
  content/plugins/joaopaulolndev-check-ssl-widget.md
  content/plugins/joaopaulolndev-edit-env.md
  content/plugins/joaopaulolndev-pdf-viewer.md
  public/images/content/plugins/images/joaopaulolndev-check-ssl-widget.webp
  public/images/content/plugins/images/joaopaulolndev-edit-env.webp
  public/images/content/plugins/images/joaopaulolndev-pdf-viewer.webp
Labels: new plugin

#448 [Plugin] - Add Media Manager Plugin
  content/plugins/3x1io-tomato-media-manager.md
  content/plugins/images/3x1io-tomato-media-manager.jpg
  public/images/content/plugins/images/3x1io-tomato-media-manager.webp
Labels: new plugin

#449 [Plugin] - Dynamic Mail Manager
  content/plugins/images/yebor974-dyn-mail-manager.png
  content/plugins/yebor974-dyn-mail-manager.md
  public/images/content/plugins/images/yebor974-dyn-mail-manager.webp
Labels: new plugin

#451 [Author] - Add Ercogx author and add OpenAI Assistant plugin
  content/authors/avatars/ercogx.jpg
  content/authors/ercogx.md
  content/plugins/ercogx-openai-assistant.md
  content/plugins/images/ercogx-openai-assistant.jpg
  public/images/content/authors/avatars/ercogx.webp
  public/images/content/plugins/images/ercogx-openai-assistant.webp
Labels: new plugin, new author

#452 [Author] - Add howdu author and record switcher plugin
  content/authors/avatars/howdu.jpg
  content/authors/howdu.md
  content/plugins/howdu-record-switcher.md
  content/plugins/images/howdu-record-switcher.jpg
  public/images/content/authors/avatars/howdu.webp
  public/images/content/plugins/images/howdu-record-switcher.webp
Labels: new plugin, new author

#455 [Plugin] Add Translatable Pro
  content/plugins/images/lara-zeus-translatable-pro.png
  content/plugins/lara-zeus-translatable-pro.md
  public/images/content/plugins/images/lara-zeus-translatable-pro.webp
Labels: new plugin

#456 [Plugin] Add country code field
  content/plugins/images/tapp-network-country-code-field.jpg
  content/plugins/tapp-network-country-code-field.md
  public/images/content/plugins/images/tapp-network-country-code-field.webp
Labels: new plugin
