Repository filamentphp/filamentphp.com, pull requests merged in 2024-10, with the labels that each got.

#556 update discord URLS for all zeus packages
  content/plugins/lara-zeus-accordion.md
  content/plugins/lara-zeus-athena.md
  content/plugins/lara-zeus-bolt-pro.md
  content/plugins/lara-zeus-bolt.md
  content/plugins/lara-zeus-boredom.md
  content/plugins/lara-zeus-delia.md
  content/plugins/lara-zeus-dynamic-dashboard.md
  content/plugins/lara-zeus-helen.md
  content/plugins/lara-zeus-hera.md
  content/plugins/lara-zeus-hermes.md
  content/plugins/lara-zeus-inline-chart.md
  content/plugins/lara-zeus-list-group.md
  content/plugins/lara-zeus-matrix-choice.md
  content/plugins/lara-zeus-popover.md
  content/plugins/lara-zeus-qr.md
  content/plugins/lara-zeus-quantity.md
  content/plugins/lara-zeus-sky.md
  content/plugins/lara-zeus-thunder.md
  content/plugins/lara-zeus-tiles.md
  content/plugins/lara-zeus-translatable-pro.md
  content/plugins/lara-zeus-wind.md
Labels: plugin update

#571 New Plugin: Filament Pan UI
  content/plugins/images/solution-forest-panphp.png
  content/plugins/solution-forest-panphp.md
  public/images/content/plugins/images/solution-forest-panphp.webp
Labels: new plugin

#568 [Plugin] Price Filter
  content/plugins/codewithdennis-price-filter.md
  content/plugins/images/codewithdennis-price-filter.png
  public/images/content/plugins/images/codewithdennis-price-filter.webp
Labels: new plugin

#567 [Plugin] add Github Issues Manager plugin
  content/plugins/3x1io-tomato-issues.md
  content/plugins/images/3x1io-tomato-issues.jpg
  public/images/content/plugins/images/3x1io-tomato-issues.webp
Labels: new plugin

#565 [Plugin] Add Documents Editor plugin
  content/plugins/3x1io-tomato-docs.md
  content/plugins/images/3x1io-tomato-docs.jpg
  public/images/content/plugins/images/3x1io-tomato-docs.webp
Labels: new plugin

#564 new plugin: filament pan analytics widget
  content/plugins/images/tallyschmeits-pan-analytics-widget.jpg
  content/plugins/tallyschmeits-pan-analytics-widget.md
  public/images/content/plugins/images/tallyschmeits-pan-analytics-widget.webp
Labels: new plugin

#563 [Plugin] Add Blog Template Plugin
  content/plugins/3x1io-tomato-blog.md
  content/plugins/images/3x1io-tomato-blog.jpg
  public/images/content/plugins/images/3x1io-tomato-blog.webp
Labels: new plugin

#561 [Plugin] Add Checkpoint plugin
  content/plugins/asker-akbar-checkpoint.md
  content/plugins/images/asker-akbar-checkpoint.jpg
  public/images/content/plugins/images/asker-akbar-checkpoint.webp
Labels: new plugin

#560 [Author][Plugin] - Add fauzie811 author and List Entry plugin
  content/authors/avatars/fauzie811.jpg
  content/authors/fauzie811.md
  content/plugins/fauzie811-list-entry.md
  content/plugins/images/fauzie811-list-entry.jpg
  public/images/content/authors/avatars/fauzie811.webp
  public/images/content/plugins/images/fauzie811-list-entry.webp
Labels: new plugin, new author

#559 [Plugin] add Social Media Manager plugin
  content/plugins/3x1io-tomato-social.md
  content/plugins/images/3x1io-tomato-social.jpg
  public/images/content/plugins/images/3x1io-tomato-social.webp
Labels: new plugin

#557 [Plugin] add SEO Manager plugin
  content/plugins/3x1io-tomato-seo.md
  content/plugins/images/3x1io-tomato-seo.jpg
  public/images/content/plugins/images/3x1io-tomato-seo.webp
Labels: new plugin

#554 Update Profile
  content/authors/charrafimed.md
Labels: author update

#550 Update TomatoPHP Plugins Covers
  content/plugins/images/3x1io-tomato-accounts.jpg
  content/plugins/images/3x1io-tomato-alerts.jpg
  content/plugins/images/3x1io-tomato-api.jpg
  content/plugins/images/3x1io-tomato-artisan.jpg
  content/plugins/images/3x1io-tomato-browser.jpg
  content/plugins/images/3x1io-tomato-cms.jpg
  content/plugins/images/3x1io-tomato-ecommerce.jpg
  content/plugins/images/3x1io-tomato-helpers.jpg
  content/plugins/images/3x1io-tomato-invoices.jpg
  content/plugins/images/3x1io-tomato-locations.jpg
  content/plugins/images/3x1io-tomato-media-manager.jpg
  content/plugins/images/3x1io-tomato-menus.jpg
  content/plugins/images/3x1io-tomato-notes.jpg
  content/plugins/images/3x1io-tomato-payments.jpg
  content/plugins/images/3x1io-tomato-plugins.jpg
  content/plugins/images/3x1io-tomato-pos.jpg
  content/plugins/images/3x1io-tomato-settings-hub.jpg
  content/plugins/images/3x1io-tomato-tenancy.jpg
  content/plugins/images/3x1io-tomato-translation-component.jpg
  content/plugins/images/3x1io-tomato-translations.jpg
  content/plugins/images/3x1io-tomato-twilio.jpg
  content/plugins/images/3x1io-tomato-types.jpg
  content/plugins/images/3x1io-tomato-users.jpg
  content/plugins/images/3x1io-tomato-wallet.jpg
  content/plugins/images/megoxv-tomato-subscriptions.jpg
  content/plugins/images/megoxv-tomato-withdrawals.jpg
  public/images/content/plugins/images/3x1io-tomato-accounts.webp
  public/images/content/plugins/images/3x1io-tomato-alerts.webp
  public/images/content/plugins/images/3x1io-tomato-api.webp
  public/images/content/plugins/images/3x1io-tomato-artisan.webp
  public/images/content/plugins/images/3x1io-tomato-browser.webp
  public/images/content/plugins/images/3x1io-tomato-cms.webp
  public/images/content/plugins/images/3x1io-tomato-developer-gate.webp
  public/images/content/plugins/images/3x1io-tomato-discord.webp
  public/images/content/plugins/images/3x1io-tomato-ecommerce.webp
  public/images/content/plugins/images/3x1io-tomato-helpers.webp
  public/images/content/plugins/images/3x1io-tomato-icons.webp
  public/images/content/plugins/images/3x1io-tomato-invoices.webp
  public/images/content/plugins/images/3x1io-tomato-locations.webp
  public/images/content/plugins/images/3x1io-tomato-media-manager.webp
  public/images/content/plugins/images/3x1io-tomato-menus.webp
  public/images/content/plugins/images/3x1io-tomato-notes.webp
  public/images/content/plugins/images/3x1io-tomato-payments.webp
  public/images/content/plugins/images/3x1io-tomato-plugins.webp
  public/images/content/plugins/images/3x1io-tomato-pos.webp
  public/images/content/plugins/images/3x1io-tomato-settings-hub.webp
  public/images/content/plugins/images/3x1io-tomato-splade.webp
  public/images/content/plugins/images/3x1io-tomato-tenancy.webp
  public/images/content/plugins/images/3x1io-tomato-translation-component.webp
  public/images/content/plugins/images/3x1io-tomato-translations.webp
  public/images/content/plugins/images/3x1io-tomato-twilio.webp
  public/images/content/plugins/images/3x1io-tomato-types.webp
  public/images/content/plugins/images/3x1io-tomato-users.webp
  public/images/content/plugins/images/3x1io-tomato-wallet.webp
  public/images/content/plugins/images/megoxv-tomato-subscriptions.webp
  public/images/content/plugins/images/megoxv-tomato-withdrawals.webp
Labels: plugin update

#549 [Plugin] add User Logger plugin
  content/plugins/3x1io-tomato-logger.md
  content/plugins/images/3x1io-tomato-logger.jpg
  public/images/content/plugins/images/3x1io-tomato-logger.webp
Labels: new plugin

#548 Update ariaieboy-currency.md
  content/plugins/ariaieboy-currency.md
Labels: plugin update

#546 New Plugin : Filasortable reorderable drag-and-drop.
  content/plugins/ibrahim-bougaoua-filasortable.md
  content/plugins/images/ibrahim-bougaoua-filasortable.jpg
  public/images/content/plugins/images/ibrahim-bougaoua-filasortable.webp
Labels: new plugin

#545 add new plugin hades, save forms as drafts
  content/plugins/images/lara-zeus-hades.png
  content/plugins/lara-zeus-hades.md
Labels: new plugin, paid plugin

#544 [Plugin] Add Typo3 plugin
  content/authors/avatars/egg2-code-labs.jpg
  content/authors/egg2-code-labs.md
  content/plugins/egg2-code-labs-typo3.md
  content/plugins/images/egg2-code-labs-typo3.jpg
  public/images/content/authors/avatars/egg2-code-labs.webp
  public/images/content/plugins/images/egg2-code-labs-typo3.webp
Labels: new plugin, new author

#542 [Plugin] Indonesia Territory Form
  content/plugins/images/teguhrijanandi-indonesia-territory-forms.jpg
  content/plugins/teguhrijanandi-indonesia-territory-forms.md
  public/images/content/plugins/images/teguhrijanandi-indonesia-territory-forms.webp
Labels: new plugin

#540 [Plugin] Add Simple Theme plugin
  content/plugins/3x1io-tomato-simple-theme.md
  content/plugins/images/3x1io-tomato-simple-theme.jpg
  public/images/content/plugins/images/3x1io-tomato-simple-theme.webp
Labels: new plugin

#536 New Plugin : filawidget
  content/plugins/ibrahim-bougaoua-filawidget.md
  content/plugins/images/ibrahim-bougaoua-filawidget.jpg
Labels: new plugin, changes requested

#573 add missing image for hades
  public/images/content/plugins/images/lara-zeus-hades.webp
Labels: plugin update
