Repository filamentphp/filamentphp.com, pull requests merged in 2024-04, with the labels that each got.

#279 Add canonical URL capabilities to articles
  app/Http/Controllers/Articles/ViewArticleController.php
  app/Models/Article.php
Labels: enhancement

#383 Submit JSON-Column plugin
  content/authors/avatars/valentin-morice.jpg
  content/authors/valentin-morice.md
  content/plugins/images/valentin-morice-json-column.jpg
  content/plugins/valentin-morice-json-column.md
  public/images/content/authors/avatars/valentin-morice.webp
  public/images/content/plugins/images/valentin-morice-json-column.webp
Labels: new plugin, new author

#384 [Plugin] Add model states plug-in
  content/plugins/images/maartenpaauw-model-states.jpg
  content/plugins/maartenpaauw-model-states.md
  public/images/content/plugins/images/maartenpaauw-model-states.webp
Labels: new plugin

#378 ADD: Add new blog plugin on filament.
  content/authors/avatars/firefly.jpg
  content/authors/firefly.md
  content/plugins/firefly-blog.md
  content/plugins/images/firefly-blog.jpg
  public/images/content/authors/avatars/firefly.webp
  public/images/content/plugins/images/firefly-blog.webp
Labels: new plugin, new author

#382 [Plugin]: added Monaco editor a New Form Field plugin
  content/authors/abdelhamid-errahmouni.md
  content/authors/avatars/abdelhamid-errahmouni.jpeg
  content/plugins/abdelhamid-errahmouni-monaco-editor.md
  content/plugins/images/abdelhamid-errahmouni-monaco-editor.png
  public/images/content/authors/avatars/abdelhamid-errahmouni.webp
  public/images/content/plugins/images/abdelhamid-errahmouni-monaco-editor.webp
Labels: new plugin, pending changes, new author, pending documentation changes

#385 [Plugin] : add `env-editor` plugin (ENV vars managment )
  content/authors/avatars/geo-sot.jpg
  content/authors/geo-sot.md
  content/plugins/geo-sot-env-editor.md
  content/plugins/images/geo-sot-env-editor.jpg
  public/images/content/authors/avatars/geo-sot.webp
  public/images/content/plugins/images/geo-sot-env-editor.webp
Labels: new plugin, new author

#389 Mail Log Plugin
  content/plugins/images/tapp-network-mail-log.jpg
  content/plugins/tapp-network-mail-log.md
  public/images/content/plugins/images/tapp-network-mail-log.webp
Labels: new plugin

#391 Password Confirmation plugin
  content/authors/avatars/juliomotol.jpg
  content/authors/juliomotol.md
  content/plugins/images/juliomotol-password-confirmation.png
  content/plugins/juliomotol-password-confirmation.md
  public/images/content/authors/avatars/juliomotol.webp
  public/images/content/plugins/images/juliomotol-password-confirmation.webp
Labels: new plugin, new author

#388 Invites Plugin
  content/plugins/images/tapp-network-invites.jpg
  content/plugins/tapp-network-invites.md
  public/images/content/plugins/images/tapp-network-invites.webp
Labels: new plugin

#392 [Plugin]: Add OTP Login Plugin
  content/authors/afsakar.md
  content/plugins/afsakar-otp-login.md
  content/plugins/images/afsakar-otp-login.png
  public/images/content/plugins/images/afsakar-otp-login.webp
Labels: new plugin

#390 Queueable Bulk Actions Plugin
  content/authors/avatars/eddie-rusinskas.jpg
  content/authors/eddie-rusinskas.md
  content/plugins/eddie-rusinskas-queueable-bulk-actions.md
  content/plugins/images/eddie-rusinskas-queueable-bulk-actions.jpg
  public/images/content/authors/avatars/eddie-rusinskas.webp
  public/images/content/plugins/images/eddie-rusinskas-queueable-bulk-actions.webp
Labels: new plugin, new author
