Repository filamentphp/filamentphp.com, pull requests merged in 2024-09, with the labels that each got.

#506 [Plugin] Add POS plugin
  content/plugins/3x1io-tomato-pos.md
  content/plugins/images/3x1io-tomato-pos.jpg
  public/images/content/plugins/images/3x1io-tomato-pos.webp
Labels: new plugin, changes requested

#508 [Plugin] Add Menu Builder plugin
  content/authors/avatars/datlechin.jpg
  content/authors/datlechin.md
  content/plugins/datlechin-menu-builder.md
  content/plugins/images/datlechin-menu-builder.jpg
  public/images/content/authors/avatars/datlechin.webp
  public/images/content/plugins/images/datlechin-menu-builder.webp
Labels: new plugin, changes requested, new author

#517 Author Profile And Plugins
  content/authors/avatars/stephenjude.jpg
  content/authors/stephenjude.md
  content/plugins/images/stephenjude-blog.jpg
  content/plugins/images/stephenjude-debugger.jpg
  content/plugins/images/stephenjude-feature-flags.jpg
  content/plugins/images/stephenjude-jetstream.jpg
  content/plugins/images/stephenjude-two-factor-authentication.jpg
  content/plugins/stephenjude-blog.md
  content/plugins/stephenjude-debugger.md
  content/plugins/stephenjude-feature-flags.md
  content/plugins/stephenjude-jetstream.md
  content/plugins/stephenjude-two-factor-authentication.md
  public/images/content/authors/avatars/stephenjude.webp
  public/images/content/plugins/images/stephenjude-blog.webp
  public/images/content/plugins/images/stephenjude-debugger.webp
  public/images/content/plugins/images/stephenjude-feature-flags.webp
  public/images/content/plugins/images/stephenjude-jetstream.webp
  public/images/content/plugins/images/stephenjude-two-factor-authentication.webp
Labels: new plugin, changes requested, new author

#519 Visual builder author profile and email templates plugin
  content/authors/avatars/visual-builder.jpg
  content/authors/visual-builder.md
  content/plugins/images/visual-builder-email-templates.jpg
  content/plugins/visual-builder-email-templates.md
  public/images/content/authors/avatars/visual-builder.webp
  public/images/content/plugins/images/visual-builder-email-templates.webp
Labels: new plugin, changes requested, new author, pending discord channel

#526 add new plugin Delia
  content/plugins/images/lara-zeus-delia.png
  content/plugins/lara-zeus-delia.md
  public/images/content/plugins/images/lara-zeus-delia.webp
Labels: new plugin

#528 [Plugin] Recently
  content/plugins/awcodes-recently.md
  content/plugins/images/awcodes-recently.jpg
  public/images/content/plugins/images/awcodes-recently.webp
Labels: new plugin

#529 update some zeus packages
  content/plugins/lara-zeus-hermes.md
  content/plugins/lara-zeus-translatable-pro.md
Labels: plugin update

#530 Add Larament Boilerplate
  content/plugins/codewithdennis-larament.md
  content/plugins/images/codewithdennis-larament.png
Labels: new plugin

#531 [Plugin] Filament Database Sync
  content/authors/avatars/teguhrijanandi.jpeg
  content/authors/teguhrijanandi.md
  content/plugins/images/teguhrijanandi-db-sync.jpg
  content/plugins/teguhrijanandi-db-sync.md
Labels: new plugin, new author

#532 [Plugin] Add Bookmarks Menu plugin
  content/plugins/3x1io-tomato-bookmarks-menu.md
  content/plugins/images/3x1io-tomato-bookmarks-menu.jpg
  public/images/content/plugins/images/3x1io-tomato-bookmarks-menu.webp
Labels: new plugin

#504 [Plugin] Filament Field Group and Access-Management
  content/plugins/images/solution-forest-access-management.jpg
  content/plugins/images/solution-forest-field-group.jpg
  content/plugins/solution-forest-access-management.md
  content/plugins/solution-forest-field-group.md
  public/images/content/plugins/images/solution-forest-access-management.webp
  public/images/content/plugins/images/solution-forest-field-group.webp
Labels: new plugin, changes requested

#509 [Plugin] Filament 2FA
  content/authors/avatars/baspa.jpg
  content/authors/baspa.md
  content/plugins/baspa-2fa.md
  content/plugins/images/baspa-2fa.png
  public/images/content/authors/avatars/baspa.webp
  public/images/content/plugins/images/baspa-2fa.webp
Labels: new plugin, changes requested, new author

#525 [Plugin] Global Search Modal
  content/authors/avatars/charrafimed.jpeg
  content/authors/charrafimed.md
  content/plugins/charrafimed-global-search-modal.md
  content/plugins/images/charrafimed-global-search-modal.jpeg
  public/images/content/authors/avatars/charrafimed.webp
  public/images/content/plugins/images/charrafimed-global-search-modal.webp
Labels: new plugin, changes requested, new author

#527 New Plugin : Progress indicators
  content/plugins/ibrahim-bougaoua-filaprogress.md
  content/plugins/images/ibrahim-bougaoua-filaprogress.jpg
  public/images/content/plugins/images/ibrahim-bougaoua-filaprogress.webp
Labels: new plugin, changes requested

#541 feat: add API documention
  .gitignore
  build/api.sh
  build/doctum/.gitignore
  build/doctum/composer.json
  build/doctum/composer.lock
  build/doctum/doctum.php
  routes/web.php
Labels: enhancement

#538 [Plugin] Rename author Baspa to Vormkracht10
  content/authors/avatars/baspa.jpg
  content/authors/avatars/vormkracht10.png
  content/authors/baspa.md
  content/authors/vormkracht10.md
  content/plugins/images/vormkracht10-2fa.png
  content/plugins/vormkracht10-2fa.md
  public/images/content/authors/avatars/baspa.webp
  public/images/content/authors/avatars/vormkracht10.webp
  public/images/content/plugins/images/vormkracht10-2fa.webp
Labels: plugin update, author update
