Repository filamentphp/filamentphp.com, pull requests merged in 2024-03, with the labels that each got.

#356 Update author & plugin image
  content/authors/riodewanto.md
  content/plugins/images/riodewanto-superduper-starter.png
  content/plugins/riodewanto-superduper-starter.md
  public/images/content/plugins/images/riodewanto-superduper-starter.webp
Labels: plugin update

#359 [Plugin] Filament Ace Editor
  content/plugins/images/riodewanto-ace-editor.png
  content/plugins/riodewanto-ace-editor.md
  public/images/content/plugins/images/riodewanto-ace-editor.webp
Labels: new plugin

#360 Update author twitter url and plugin thumbnail
  content/authors/ysfkaya.md
  content/plugins/images/ysfkaya-menu-manager.jpeg
  public/images/content/plugins/images/ysfkaya-menu-manager.webp
Labels: plugin update, author update

#358 [Plugin] submitting the attachmate plugin
  content/authors/avatars/zeeshan-tariq.jpg
  content/authors/zeeshan-tariq.md
  content/plugins/images/zeeshan-tariq-attachmate.png
  content/plugins/zeeshan-tariq-attachmate.md
  public/images/content/authors/avatars/zeeshan-tariq.webp
  public/images/content/plugins/images/zeeshan-tariq-attachmate.webp
Labels: new plugin, pending changes, new author

#361 Add Filament versionable plugin
  content/authors/avatars/mansoor.jpeg
  content/authors/mansoor.md
  content/plugins/images/mansoor-versionable.jpg
  content/plugins/mansoor-versionable.md
  public/images/content/authors/avatars/mansoor.webp
  public/images/content/plugins/images/mansoor-versionable.webp
Labels: new plugin, new author

#364 [PLUGIN] Add Error Mailer plugin
  content/authors/avatars/hugomyb.jpeg
  content/authors/hugomyb.md
  content/plugins/hugomyb-error-mailer.md
  content/plugins/images/hugomyb-error-mailer.jpeg
  public/images/content/authors/avatars/hugomyb.webp
  public/images/content/plugins/images/hugomyb-error-mailer.webp
Labels: new plugin, new author

#365 [Plugin] Receive Pennant for Filament plug-in documentation using `docs_url`
  content/plugins/maartenpaauw-pennant.md
Labels: plugin update

#367 [Plugin] Fila Starter Kit
  content/authors/avatars/raugadh.jpg
  content/authors/raugadh.md
  content/plugins/images/raugadh-fila-starter.jpeg
  content/plugins/raugadh-fila-starter.md
  public/images/content/authors/avatars/raugadh.webp
  public/images/content/plugins/images/raugadh-fila-starter.webp
Labels: new plugin, new author

#369 [Plugin] Add Cashier Billing Provider plug-in
  content/plugins/images/maartenpaauw-cashier-billing-provider.jpg
  content/plugins/maartenpaauw-cashier-billing-provider.md
  public/images/content/plugins/images/maartenpaauw-cashier-billing-provider.webp
Labels: new plugin

#362 [Plugin] Filament Json Media
  content/authors/avatars/webplusm.jpg
  content/authors/webplusm.md
  content/plugins/images/webplusm-json-media.jpg
  content/plugins/webplusm-json-media.md
  public/images/content/authors/avatars/webplusm.webp
  public/images/content/plugins/images/webplusm-json-media.webp
Labels: new plugin, new author

#371 [Plugin] Fila starter - added discord link
  content/plugins/raugadh-fila-starter.md
Labels: plugin update

#366 [Plugin] Add mokhosh rating plugin
  content/plugins/images/mokhosh-rating.jpg
  content/plugins/mokhosh-rating.md
  public/images/content/plugins/images/mokhosh-rating.webp
Labels: new plugin

#368 [Plugin] Filament Hijri Picker
  content/plugins/images/mohamedsabil83-hijri-picker.jpeg
  content/plugins/mohamedsabil83-hijri-picker.md
  public/images/content/plugins/images/mohamedsabil83-hijri-picker.webp
Labels: plugin update

#374 Changed readme to production version
  content/plugins/guava-nested-resources.md
Labels: plugin update

#370 [Plugins] Add mansoor-unsplash-picker and update mansoor-versionable
  content/plugins/images/mansoor-unsplash-picker.jpg
  content/plugins/images/mansoor-versionable.jpg
  content/plugins/images/mansoor-versionable.png
  content/plugins/mansoor-unsplash-picker.md
  content/plugins/mansoor-versionable.md
  public/images/content/plugins/images/mansoor-unsplash-picker.webp
  public/images/content/plugins/images/mansoor-versionable.webp
Labels: new plugin, plugin update
