Repository filamentphp/filamentphp.com, pull requests merged in 2024-02, with the labels that each got.

#324 [Plugin] - Grapesjs editor field
  content/authors/avatars/dotswan.jpg
  content/authors/dotswan.md
  content/plugins/dotswan-grapesjs.md
  content/plugins/images/dotswan-grapesjs.jpg
  public/images/content/authors/avatars/dotswan.webp
  public/images/content/plugins/images/dotswan-grapesjs.webp
Labels: new plugin, new author

#330 [Plugin] OTP input field
  content/authors/avatars/hasan-ahani.jpeg
  content/authors/hasan-ahani.md
  content/plugins/hasan-ahani-otp-input.md
  content/plugins/images/hasan-ahani-otp-input.jpeg
  public/images/content/authors/avatars/hasan-ahani.webp
  public/images/content/plugins/images/hasan-ahani-otp-input.webp
Labels: new plugin, new author

#335 update zeus plugins docs URL versions
  content/plugins/lara-zeus-bolt-pro.md
  content/plugins/lara-zeus-bolt.md
  content/plugins/lara-zeus-helen.md
  content/plugins/lara-zeus-hermes.md
  content/plugins/lara-zeus-thunder.md
Labels: plugin update

#333 Adds Parallax author & Comments Plugin
  content/authors/avatars/parallax.jpg
  content/authors/parallax.md
  content/plugins/images/parallax-comments.jpg
  content/plugins/parallax-comments.md
  public/images/content/authors/avatars/parallax.webp
  public/images/content/plugins/images/parallax-comments.webp
Labels: new plugin, new author

#334 Update awcodes-table-repeater.md
  content/plugins/awcodes-table-repeater.md
Labels: plugin update

#331 [new plugin] Quantity Input Number
  content/plugins/images/lara-zeus-accordion.png
  content/plugins/images/lara-zeus-bolt-pro.png
  content/plugins/images/lara-zeus-boredom.png
  content/plugins/images/lara-zeus-dynamic-dashboard.png
  content/plugins/images/lara-zeus-helen.png
  content/plugins/images/lara-zeus-hera.png
  content/plugins/images/lara-zeus-hermes.png
  content/plugins/images/lara-zeus-inline-chart.png
  content/plugins/images/lara-zeus-matrix-choice.png
  content/plugins/images/lara-zeus-popover.png
  content/plugins/images/lara-zeus-qr.png
  content/plugins/images/lara-zeus-quantity.png
  content/plugins/images/lara-zeus-sky.png
  content/plugins/images/lara-zeus-thunder.png
  content/plugins/images/lara-zeus-wind.png
  content/plugins/lara-zeus-quantity.md
  public/images/content/plugins/images/lara-zeus-accordion.webp
  public/images/content/plugins/images/lara-zeus-bolt-pro.webp
  public/images/content/plugins/images/lara-zeus-boredom.webp
  public/images/content/plugins/images/lara-zeus-dynamic-dashboard.webp
  public/images/content/plugins/images/lara-zeus-helen.webp
  public/images/content/plugins/images/lara-zeus-hera.webp
  public/images/content/plugins/images/lara-zeus-hermes.webp
  public/images/content/plugins/images/lara-zeus-inline-chart.webp
  public/images/content/plugins/images/lara-zeus-matrix-choice.webp
  public/images/content/plugins/images/lara-zeus-popover.webp
  public/images/content/plugins/images/lara-zeus-qr.webp
  public/images/content/plugins/images/lara-zeus-quantity.webp
  public/images/content/plugins/images/lara-zeus-sky.webp
  public/images/content/plugins/images/lara-zeus-thunder.webp
  public/images/content/plugins/images/lara-zeus-wind.webp
Labels: new plugin

#321 [Plugins] - Filament Announcement
  content/plugins/images/rupadana-announce.png
  content/plugins/rupadana-announce.md
  public/images/content/plugins/images/rupadana-announce.webp
Labels: new plugin

#336 Adds Parallax Syntax Entry plugin
  content/plugins/images/parallax-syntax-entry.jpg
  content/plugins/parallax-syntax-entry.md
  public/images/content/plugins/images/parallax-syntax-entry.webp
Labels: new plugin

#329 Ling Myat Starter Kit
  content/authors/avatars/lingmyataung.jpg
  content/authors/lingmyataung.md
  content/plugins/images/lingmyataung-starter-kit.png
  content/plugins/lingmyataung-starter-kit.md
  package-lock.json
  public/images/content/authors/avatars/lingmyataung.webp
Labels: new plugin, new author

#327 [Plugin] Filament Captcha
  content/authors/avatars/dominion-solutions.jpg
  content/authors/dominion-solutions.md
  content/plugins/dominion-solutions-captcha.md
  content/plugins/images/dominion-solutions-captcha.jpg
  public/images/content/authors/avatars/dominion-solutions.webp
  public/images/content/plugins/images/dominion-solutions-captcha.webp
Labels: new plugin, new author

#338 plugin "schedule monitor"
  content/plugins/images/mvenghaus-schedule-monitor.jpg
  content/plugins/mvenghaus-schedule-monitor.md
  public/images/content/plugins/images/mvenghaus-schedule-monitor.webp
Labels: new plugin

#337 Add the Filament Reports plugin
  content/plugins/eightynine-reports.md
  content/plugins/images/eightynine-reports.jpg
  public/images/content/plugins/images/eightynine-reports.webp
Labels: new plugin

#328 Add Local Logins plugin.
  content/authors/avatars/better-futures-studio.jpg
  content/authors/better-futures-studio.md
  content/plugins/better-futures-studio-local-logins.md
  content/plugins/images/better-futures-studio-local-logins.jpg
  public/images/content/authors/avatars/better-futures-studio.webp
  public/images/content/plugins/images/better-futures-studio-local-logins.webp
Labels: new plugin, new author

#340 Update author description
  content/authors/rupadana.md
Labels: author update

#342 [Plugin] - map picker field
  content/plugins/dotswan-map-picker.md
  content/plugins/images/dotswan-map-picker.png
  public/images/content/plugins/images/dotswan-map-picker.webp
Labels: new plugin

#345 RJS/Move documentation of premium plugins to external URL
  content/plugins/ralphjsmit-activitylog-pro.md
  content/plugins/ralphjsmit-media-library-manager.md
  content/plugins/ralphjsmit-notifications-pro.md
  content/plugins/ralphjsmit-onboarding-manager-pro.md
  content/plugins/ralphjsmit-pulse.md
Labels: plugin update

#343 adding list-group plugin
  content/plugins/images/lara-zeus-list-group.png
  content/plugins/lara-zeus-list-group.md
  public/images/content/plugins/images/lara-zeus-list-group.webp
Labels: new plugin

#346 [Author] Dominion Solutions - Added mastodon_url to Dominion Solutions author page.
  content/authors/dominion-solutions.md
Labels: author update

#347 [paid plugin] add: zeus-athena
  content/plugins/images/lara-zeus-athena.png
  content/plugins/lara-zeus-athena.md
  public/images/content/plugins/images/lara-zeus-athena.webp
Labels: new plugin

#272 [Plugin] Sellarix - Fillament Blog Plugin
  content/authors/avatars/sellarix.jpg
  content/authors/sellarix.md
  content/plugins/images/sellarix-blog.png
  content/plugins/sellarix-blog.md
  public/images/content/authors/avatars/sellarix.webp
  public/images/content/plugins/images/sellarix-blog.webp
Labels: new plugin, new author, paid plugin

#310 added theme "OS Light"
  content/plugins/images/mvenghaus-os-light-theme.jpg
  content/plugins/mvenghaus-os-light-theme.md
  public/images/content/plugins/images/mvenghaus-os-light-theme.webp
Labels: new plugin, paid plugin

#319 [Plugin] - Filament Gallery
  content/authors/avatars/grz-adamczyk.jpg
  content/authors/grz-adamczyk.md
  content/plugins/grz-adamczyk-gallery.md
  content/plugins/images/grz-adamczyk-gallery.jpg
  public/images/content/authors/avatars/grz-adamczyk.webp
  public/images/content/plugins/images/grz-adamczyk-gallery.webp
Labels: new plugin, new author, paid plugin

#344 [Plugin] Add outerweb/filament-settings plugin
  content/authors/avatars/outerweb.jpg
  content/authors/outerweb.md
  content/plugins/images/outerweb-settings.jpg
  content/plugins/outerweb-settings.md
  public/images/content/authors/avatars/outerweb.webp
  public/images/content/plugins/images/outerweb-settings.webp
Labels: new plugin, pending changes, new author

#353 Add Matinee plugin
  content/plugins/awcodes-matinee.md
  content/plugins/images/awcodes-matinee.jpg
  public/images/content/plugins/images/awcodes-matinee.webp
Labels: new plugin

#351 New Plugin - GPT Trix Editor + Author Content
  content/authors/asker-akbar.md
  content/authors/avatars/asker-akbar.jpeg
  content/plugins/asker-akbar-gpt-trix-editor.md
  content/plugins/images/asker-akbar-gpt-trix-editor.png
  public/images/content/authors/avatars/asker-akbar.webp
  public/images/content/plugins/images/asker-akbar-gpt-trix-editor.webp
Labels: new plugin, new author

#354 SuperDuper Filament Starter Kit
  content/authors/avatars/riodewanto.jpeg
  content/authors/riodewanto.md
  content/plugins/images/riodewanto-superduper-starter.png
  content/plugins/riodewanto-superduper-starter.md
  public/images/content/authors/avatars/riodewanto.webp
  public/images/content/plugins/images/riodewanto-superduper-starter.webp
Labels: new plugin, pending changes, new author
