Repository filamentphp/filamentphp.com, pull requests merged in 2024-12, with the labels that each got.

#613 Menu Builder: Update Filament supported versions
  content/plugins/datlechin-menu-builder.md
Labels: plugin update

#553 [New Plugin] Added Relaticle as author & Custom Fields plugin
  content/authors/avatars/relaticle.png
  content/authors/relaticle.md
  content/plugins/images/relaticle-custom-fields.jpg
  content/plugins/relaticle-custom-fields.md
  public/images/content/authors/avatars/relaticle.webp
  public/images/content/plugins/images/relaticle-custom-fields.webp
Labels: new plugin, changes requested, new author, paid plugin

#569 Simple Print Page Plugin
  content/authors/ahmedhassan.md
  content/authors/avatars/ahmedhassan.jpg
  content/plugins/ahmedhassan-print.md
  content/plugins/images/ahmedhassan-print.jpg
  public/images/content/authors/avatars/ahmedhassan.webp
  public/images/content/plugins/images/ahmedhassan-print.webp
Labels: new plugin, changes requested, new author

#570 Image Color Picker Plugin
  content/authors/avatars/wallacemaxters.jpeg
  content/authors/wallacemaxters.md
  content/plugins/images/wallacemaxters-image-color-picker.jpeg
  content/plugins/wallacemaxters-image-color-picker.md
  public/images/content/authors/avatars/wallacemaxters.webp
  public/images/content/plugins/images/wallacemaxters-image-color-picker.webp
Labels: new plugin, changes requested, new author

#575 Create filament author profile
  content/authors/avatars/michaeld555.jpg
  content/authors/michaeld555.md
  content/plugins/images/michaeld555-audio-generator-field.png
  content/plugins/images/michaeld555-croppie.png
  content/plugins/michaeld555-audio-generator-field.md
  content/plugins/michaeld555-croppie.md
  public/images/content/authors/avatars/michaeld555.webp
  public/images/content/plugins/images/michaeld555-audio-generator-field.webp
  public/images/content/plugins/images/michaeld555-croppie.webp
Labels: new plugin, new author

#577 add ariaieboy-jalali
  content/plugins/ariaieboy-jalali-datetime.md
  content/plugins/ariaieboy-jalali-datetimepicker.md
  content/plugins/ariaieboy-jalali.md
  content/plugins/images/ariaieboy-jalali-datetimepicker.jpg
  content/plugins/images/ariaieboy-jalali.jpg
  public/images/content/plugins/images/ariaieboy-jalali.webp
Labels: new plugin

#580 [Plugin] Add athphane/filament-editorjs package
  content/authors/athphane.md
  content/authors/avatars/athphane.jpg
  content/plugins/athphane-editorjs.md
  content/plugins/images/athphane-editorjs.jpeg
  public/images/content/authors/avatars/athphane.webp
  public/images/content/plugins/images/athphane-editorjs.webp
Labels: new plugin, new author

#581 [Plugin] Add Language Switcher plugin
  content/plugins/3x1io-tomato-language-switcher.md
  content/plugins/images/3x1io-tomato-language-switcher.jpg
  public/images/content/plugins/images/3x1io-tomato-language-switcher.webp
Labels: new plugin

#582 [Plugin] Add Translations GPT plugin
  content/plugins/3x1io-tomato-translations-gpt.md
  content/plugins/images/3x1io-tomato-translations-gpt.jpg
  public/images/content/plugins/images/3x1io-tomato-translations-gpt.webp
Labels: new plugin

#583 [Plugin] Add Google Translations Plugin
  content/plugins/3x1io-tomato-translations-google.md
  content/plugins/images/3x1io-tomato-translations-google.jpg
  public/images/content/plugins/images/3x1io-tomato-translations-google.webp
Labels: new plugin

#585 Add author and plugin content for indracollective-revisor plugin
  content/authors/avatars/indracollective.png
  content/authors/indracollective.md
  content/plugins/images/indracollective-revisor.png
  content/plugins/indracollective-revisor.md
  public/images/content/authors/avatars/indracollective.webp
  public/images/content/plugins/images/indracollective-revisor.webp
Labels: new plugin, new author

#588 [Plugin] Filament World Map Widget
  content/plugins/images/infinityxtech-world-map-widget.jpeg
  content/plugins/infinityxtech-world-map-widget.md
  public/images/content/plugins/images/infinityxtech-world-map-widget.webp
Labels: new plugin

#590 [Plugin] Add Meta Manager plugin
  content/plugins/3x1io-tomato-meta.md
  content/plugins/images/3x1io-tomato-meta.jpg
  public/images/content/plugins/images/3x1io-tomato-meta.webp
Labels: new plugin

#589 New plugin Filament Captcha
  content/plugins/images/marcogermani87-captcha.png
  content/plugins/marcogermani87-captcha.md
  public/images/content/plugins/images/marcogermani87-captcha.webp
Labels: new plugin

#591 [Plugin] Add SaaS Panel Plugin
  content/plugins/3x1io-tomato-saas-panel.md
  content/plugins/images/3x1io-tomato-saas-panel.jpg
  public/images/content/plugins/images/3x1io-tomato-saas-panel.webp
Labels: new plugin

#592 Barcode Scanner Field
  content/authors/avatars/designthebox.jpg
  content/authors/designthebox.md
  content/plugins/designthebox-barcode-scanner.md
  content/plugins/images/designthebox-barcode-scanner.png
  public/images/content/authors/avatars/designthebox.webp
  public/images/content/plugins/images/designthebox-barcode-scanner.webp
Labels: new plugin, new author

#593 Add guava modal relation managers plugin
  content/plugins/guava-modal-relation-managers.md
  content/plugins/images/guava-modal-relation-managers.jpg
  public/images/content/plugins/images/guava-modal-relation-managers.webp
Labels: new plugin

#594 create assistant engine plugin
  content/authors/assistant-engine.md
  content/authors/avatars/assistant-engine.jpeg
  content/plugins/assistant-engine-assistant-engine.md
  content/plugins/images/assistant-engine-assistant-engine.jpeg
  public/images/content/authors/avatars/assistant-engine.webp
  public/images/content/plugins/images/assistant-engine-assistant-engine.webp
Labels: new plugin, new author

#595 [Plugin] Filament Oops
  content/authors/ahmad.md
  content/authors/avatars/ahmad.jpeg
  content/plugins/ahmad-oops.md
  content/plugins/images/ahmad-oops.jpg
  public/images/content/authors/avatars/ahmad.webp
  public/images/content/plugins/images/ahmad-oops.webp
Labels: new plugin, new author

#599 adding needed info to add html2media package
  content/authors/avatars/torgodly.png
  content/authors/torgodly.md
  content/plugins/images/torgodly-html2media.jpeg
  content/plugins/torgodly-html2media.md
  public/images/content/authors/avatars/torgodly.webp
  public/images/content/plugins/images/torgodly-html2media.webp
Labels: new plugin, new author, pending discord channel

#600 [Plugin] Add Hooks Helper plugin
  content/authors/agence-twogether.md
  content/authors/avatars/agence-twogether.jpg
  content/plugins/agence-twogether-hooks-helper.md
  content/plugins/images/agence-twogether-hooks-helper.jpg
  public/images/content/authors/avatars/agence-twogether.webp
  public/images/content/plugins/images/agence-twogether-hooks-helper.webp
Labels: new plugin, new author, pending discord channel

#601 [Plugin] Menu Builder
  content/authors/avatars/biostate.jpg
  content/authors/biostate.md
  content/plugins/biostate-menu-builder.md
  content/plugins/images/biostate-menu-builder.jpg
  public/images/content/authors/avatars/biostate.webp
  public/images/content/plugins/images/biostate-menu-builder.webp
Labels: new plugin, new author, pending discord channel

#605 [Author][Plugin] Add Tuxon as author and JsMoneyMask plugin
  content/authors/avatars/tuxon.jpeg
  content/authors/tuxon.md
  content/plugins/images/tuxon-js-money-field.png
  content/plugins/tuxon-js-money-field.md
  public/images/content/authors/avatars/tuxon.webp
  public/images/content/plugins/images/tuxon-js-money-field.webp
Labels: new plugin, new author

#606 Add Filament Mails package by Vormkracht10
  content/plugins/images/vormkracht10-mails.jpg
  content/plugins/vormkracht10-mails.md
  public/images/content/plugins/images/vormkracht10-mails.webp
Labels: new plugin

#608 Add guava icon select column plugin
  content/plugins/guava-icon-select-column.md
  content/plugins/images/guava-icon-select-column.jpg
  public/images/content/plugins/images/guava-icon-select-column.webp
Labels: new plugin, pending discord channel

#610 [Author][Plugin] - Add author Cristian Iosif & plugin Ploi Dashboard
  content/authors/avatars/cristian-iosif.jpg
  content/authors/cristian-iosif.md
  content/plugins/cristian-iosif-ploi-dashboard.md
  content/plugins/images/cristian-iosif-ploi-dashboard.jpg
  public/images/content/authors/avatars/cristian-iosif.webp
  public/images/content/plugins/images/cristian-iosif-ploi-dashboard.webp
Labels: new plugin, new author, pending discord channel

#611 [Author] Added Sponsor link and update avatar
  README.md
  content/authors/avatars/shuvroroy.jpg
  content/authors/shuvroroy.md
  public/images/content/authors/avatars/shuvroroy.webp
Labels: author update

#614 Author page appslanka
  content/authors/apps-lanka.md
  content/authors/avatars/apps-lanka.jpg
  public/images/content/authors/avatars/apps-lanka.webp
Labels: new author

#597 Add Filament Blocks Builder plugin
  content/authors/avatars/skyraptor.jpg
  content/authors/skyraptor.md
  content/plugins/images/skyraptor-filament-blocks-builder.jpg
  content/plugins/skyraptor-filament-blocks-builder.md
  public/images/content/authors/avatars/skyraptor.webp
  public/images/content/plugins/images/skyraptor-filament-blocks-builder.webp
Labels: new plugin, new author

#586 adding Article API
  app/Http/Controllers/Api/ArticleController.php
  routes/api.php
Labels: enhancement
