Repository filamentphp/filamentphp.com, pull requests merged in 2024-08, with the labels that each got.

#483 Adds filament page alerts package
  content/plugins/eightynine-page-alerts.md
  content/plugins/images/eightynine-page-alerts.png
  public/images/content/plugins/images/eightynine-page-alerts.webp
Labels: new plugin, changes requested

#486 Create mrpowerup82-sql-field.md
  content/authors/avatars/mrpowerup82.jpg
  content/authors/mrpowerup82.md
  content/plugins/images/mrpowerup82-sql-field.jpg
  content/plugins/mrpowerup82-sql-field.md
  public/images/content/authors/avatars/mrpowerup82.webp
  public/images/content/plugins/images/mrpowerup82-sql-field.webp
Labels: new plugin, changes requested, new author

#498 [Plugin] Add SEO Suite Pro Plugin
  content/plugins/afatmustafa-seo-suite-pro.md
  content/plugins/images/afatmustafa-seo-suite-pro.jpg
  public/images/content/plugins/images/afatmustafa-seo-suite-pro.webp
Labels: new plugin

#502 [Plugin] Add Wallets Withdrawals Plugin
  content/authors/avatars/megoxv.png
  content/authors/megoxv.md
  content/plugins/images/megoxv-tomato-withdrawals.jpg
  content/plugins/megoxv-tomato-withdrawals.md
  public/images/content/authors/avatars/megoxv.webp
  public/images/content/plugins/images/megoxv-tomato-withdrawals.webp
Labels: new plugin, new author

#299 Article - Navigating Filament Pages with Previous and Next Buttons
  content/articles/leandrocfe-navigating-filament-pages-with-previous-and-next-buttons.md
Labels: new article

#497 [Plugin] New Combobox field plugin
  content/plugins/images/novadaemon-combobox.jpg
  content/plugins/novadaemon-combobox.md
  public/images/content/plugins/images/novadaemon-combobox.webp
Labels: new plugin, changes requested

#503 [Plugin] Filament Slider
  content/plugins/images/rupadana-slider.png
  content/plugins/rupadana-slider.md
  public/images/content/plugins/images/rupadana-slider.webp
Labels: new plugin

#505 Update docs_urls in plugin
  content/plugins/ysfkaya-phone-input.md
Labels: plugin update

#511 [Plugin] Add Invoices Generator plugin
  content/plugins/3x1io-tomato-invoices.md
  content/plugins/images/3x1io-tomato-invoices.jpg
  public/images/content/plugins/images/3x1io-tomato-invoices.webp
Labels: new plugin

#512 [Plugin] Add Tenancy Multi-database Plugin
  content/plugins/3x1io-tomato-tenancy.md
  content/plugins/images/3x1io-tomato-tenancy.jpg
  public/images/content/plugins/images/3x1io-tomato-tenancy.webp
Labels: new plugin

#514 [Plugin] Wildcard Login plugin
  content/authors/avatars/digifactory.jpg
  content/authors/digifactory.md
  content/plugins/digifactory-wildcard-login.md
  content/plugins/images/digifactory-wildcard-login.jpg
Labels: new plugin, new author, pending discord channel

#515 [Plugin] Add Greeter
  content/authors/avatars/oriondevelops.jpeg
  content/authors/oriondevelops.md
  content/plugins/images/oriondevelops-greeter.jpeg
  content/plugins/oriondevelops-greeter.md
  public/images/content/authors/avatars/oriondevelops.webp
  public/images/content/plugins/images/oriondevelops-greeter.webp
Labels: new plugin, new author, pending discord channel

#516 [Plugins] Submit sketchpad & update JSON-Columns
  content/plugins/images/valentin-morice-sketchpad.jpg
  content/plugins/valentin-morice-json-column.md
  content/plugins/valentin-morice-sketchpad
Labels: new plugin, pending discord channel

#521 [Plugin] Add Subscriptions plugin
  content/plugins/images/megoxv-tomato-subscriptions.jpg
  content/plugins/megoxv-tomato-subscriptions.md
  public/images/content/plugins/images/megoxv-tomato-subscriptions.webp
Labels: new plugin

#522 [Plugin] Add Payments Manager plugin
  content/plugins/3x1io-tomato-payments.md
  content/plugins/images/3x1io-tomato-payments.jpg
  public/images/content/plugins/images/3x1io-tomato-payments.webp
Labels: new plugin

#524 [Plugin] Add Palette plugin
  content/authors/awcodes.md
  content/plugins/awcodes-palette.md
  content/plugins/images/awcodes-palette.jpg
  public/images/content/plugins/images/awcodes-palette.webp
Labels: new plugin
