Repository filamentphp/filamentphp.com, pull requests merged in 2024-05, with the labels that each got.

#408 Update tgeorgel-table-layout-toggle documentation version
  content/plugins/tgeorgel-table-layout-toggle.md
Labels: plugin update

#415 Plugin: RESTPresenter API Starter Kit
  content/authors/adam-lee.md
  content/authors/avatars/adam-lee.jpg
  content/plugins/adam-lee-rest-presenter.md
  content/plugins/images/adam-lee-rest-presenter.jpg
  public/images/content/authors/avatars/adam-lee.webp
  public/images/content/plugins/images/adam-lee-rest-presenter.webp
Labels: new plugin, new author

#394 Plugin: Character Counter
  content/authors/avatars/tallyschmeits.jpg
  content/authors/tallyschmeits.md
  content/plugins/images/tallyschmeits-character-counter.jpg
  content/plugins/tallyschmeits-character-counter.md
  public/images/content/authors/avatars/tallyschmeits.webp
  public/images/content/plugins/images/tallyschmeits-character-counter.webp
Labels: new plugin, pending changes, new author

#395 [Plugin] Page for DutchCodingCompany/filament-developer-logins
  content/authors/avatars/bramr94.jpg
  content/authors/bramr94.md
  content/plugins/bramr94-developer-logins.md
  content/plugins/images/bramr94-developer-logins.jpeg
  public/images/content/authors/avatars/bramr94.webp
  public/images/content/plugins/images/bramr94-developer-logins.webp
Labels: new plugin, pending changes, new author

#396 Plugin: Context Menu
  content/plugins/aymanalhattami-context-menu.md
  content/plugins/images/aymanalhattami-context-menu.jpg
  public/images/content/plugins/images/aymanalhattami-context-menu.webp
Labels: new plugin, pending changes

#397 chore: added profile and plugin
  content/authors/avatars/sakanjo.jpg
  content/authors/sakanjo.md
  content/plugins/images/sakanjo-reset-action.png
  content/plugins/sakanjo-reset-action.md
  public/images/content/authors/avatars/sakanjo.webp
  public/images/content/plugins/images/sakanjo-reset-action.webp
Labels: new plugin, pending changes, new author

#399 Plugin: Filament General Settings
  content/authors/avatars/joaopaulolndev.jpg
  content/authors/joaopaulolndev.md
  content/plugins/images/joaopaulolndev-edit-profile.jpg
  content/plugins/images/joaopaulolndev-general-settings.jpg
  content/plugins/joaopaulolndev-edit-profile.md
  content/plugins/joaopaulolndev-general-settings.md
  public/images/content/authors/avatars/joaopaulolndev.webp
  public/images/content/plugins/images/joaopaulolndev-general-settings.webp
Labels: new plugin, pending changes, new author

#404 Plugin: Emoji Picker
  content/authors/avatars/tangodev.jpg
  content/authors/tangodev.md
  content/plugins/images/tangodev-emoji-picker.jpg
  content/plugins/tangodev-emoji-picker.md
  public/images/content/authors/avatars/tangodev.webp
  public/images/content/plugins/images/tangodev-emoji-picker.webp
Labels: new plugin, pending changes, new author

#405 Add new plugin: Image Generator Field
  content/plugins/grz-adamczyk-image-generator-field.md
  content/plugins/images/grz-adamczyk-image-generator-field.jpg
  public/images/content/plugins/images/grz-adamczyk-image-generator-field.webp
Labels: new plugin, pending changes

#407 Add Develogix Agency Pirsch and Fahtom Dashboard Widget plugin
  content/authors/avatars/develogix-agency.jpg
  content/authors/develogix-agency.md
  content/plugins/develogix-agency-fathom-dashboard-widget.md
  content/plugins/develogix-agency-pirsch-dashboard-widget.md
  content/plugins/images/develogix-agency-fathom-dashboard-widget.jpg
  content/plugins/images/develogix-agency-pirsch-dashboard-widget.jpg
  public/images/content/authors/avatars/develogix-agency.webp
  public/images/content/plugins/images/develogix-agency-fathom-dashboard-widget.webp
  public/images/content/plugins/images/develogix-agency-pirsch-dashboard-widget.webp
Labels: new plugin, pending changes, new author

#393 Add nested list plugin
  content/authors/avatars/invaders-xx.jpg
  content/authors/invaders-xx.md
  content/plugins/images/invaders-xx-gridstack-dashboard.jpeg
  content/plugins/images/invaders-xx-nested-list.jpeg
  content/plugins/invaders-xx-gridstack-dashboard.md
  content/plugins/invaders-xx-nested-list.md
  public/images/content/authors/avatars/invaders-xx.webp
  public/images/content/plugins/images/invaders-xx-gridstack-dashboard.webp
  public/images/content/plugins/images/invaders-xx-nested-list.webp
Labels: new plugin
