Repository filamentphp/filamentphp.com, pull requests merged in 2024-07, with the labels that each got.

#457 Add Simple Alert plugin
  content/plugins/codewithdennis-simple-alert.md
  content/plugins/images/codewithdennis-simple-alert.png
  public/images/content/plugins/images/codewithdennis-simple-alert.webp
Labels: new plugin, pending changes

#460 [Plugin] Added Canvas Pointer Field + Author
  content/authors/avatars/ruelluna.jpg
  content/authors/ruelluna.md
  content/plugins/images/ruelluna-canvas-pointer.jpg
  content/plugins/ruelluna-canvas-pointer.md
  public/images/content/authors/avatars/ruelluna.webp
  public/images/content/plugins/images/ruelluna-canvas-pointer.webp
Labels: new plugin, new author

#459 [Plugin] Add Ecommerce Builder Plugin
  content/plugins/3x1io-tomato-ecommerce.md
  content/plugins/images/3x1io-tomato-ecommerce.jpg
  public/images/content/plugins/images/3x1io-tomato-ecommerce.webp
Labels: new plugin, pending changes

#461 [Plugins] - Update yebor974 plugins and author info
  content/authors/yebor974.md
  content/plugins/images/yebor974-dyn-mail-manager.png
  content/plugins/images/yebor974-renew-password.jpg
  content/plugins/images/yebor974-renew-password.png
  content/plugins/images/yebor974-terms-guard.png
  content/plugins/yebor974-renew-password.md
  public/images/content/plugins/images/yebor974-dyn-mail-manager.webp
  public/images/content/plugins/images/yebor974-renew-password.webp
  public/images/content/plugins/images/yebor974-terms-guard.webp
Labels: plugin update

#463 Add `Simple Map` plugin
  content/plugins/codewithdennis-simple-map.md
  content/plugins/images/codewithdennis-simple-map.png
  public/images/content/plugins/images/codewithdennis-simple-map.webp
Labels: new plugin

#465 Update simple map image (jpg)
  content/plugins/images/codewithdennis-simple-map.jpg
  content/plugins/images/codewithdennis-simple-map.png
  public/images/content/plugins/images/codewithdennis-simple-map.webp
Labels: plugin update

#462 [Plugin] Add Twilio Integration Plugin
  content/plugins/3x1io-tomato-twilio.md
  content/plugins/images/3x1io-tomato-twilio.jpg
  public/images/content/plugins/images/3x1io-tomato-twilio.webp
Labels: new plugin

#473 [Plugin] Add Record Finder Pro
  content/plugins/images/ralphjsmit-record-finder-pro.jpg
  content/plugins/ralphjsmit-record-finder-pro.md
  public/images/content/plugins/images/ralphjsmit-record-finder-pro.webp
Labels: new plugin

#467 Add better thumbnails for my plugins
  content/plugins/images/codewithdennis-select-tree.jpeg
  content/plugins/images/codewithdennis-select-tree.png
  content/plugins/images/codewithdennis-simple-alert.png
  content/plugins/images/codewithdennis-simple-map.jpg
  content/plugins/images/codewithdennis-simple-map.png
  public/images/content/plugins/images/codewithdennis-factory-action.webp
  public/images/content/plugins/images/codewithdennis-select-tree.webp
  public/images/content/plugins/images/codewithdennis-simple-alert.webp
  public/images/content/plugins/images/codewithdennis-simple-map.webp
Labels: plugin update

#470 [Plugin] Add Translation Component Plugin
  content/plugins/3x1io-tomato-translation-component.md
  content/plugins/images/3x1io-tomato-translation-component.jpg
  public/images/content/plugins/images/3x1io-tomato-translation-component.webp
Labels: new plugin

#471 [Plugin] Add pxlrbt/spotlight-pro
  content/plugins/images/pxlrbt-spotlight-pro.png
  content/plugins/pxlrbt-spotlight-pro.md
  public/images/content/plugins/images/pxlrbt-spotlight-pro.webp
Labels: new plugin, paid plugin

#476 [Plugin] Add Filament Laravel Pulse Plugin
  content/plugins/dotswan-laravel-pulse.md
  content/plugins/images/dotswan-laravel-pulse.png
  public/images/content/plugins/images/dotswan-laravel-pulse.webp
Labels: new plugin

#477 [Plugin] Add Google Autocomplete Field
  content/plugins/images/tapp-network-google-autocomplete-field.jpg
  content/plugins/tapp-network-google-autocomplete-field.md
  public/images/content/plugins/images/tapp-network-google-autocomplete-field.webp
Labels: new plugin

#480 feat(filament-json-plugin): add plugin for processing JSON field
  content/authors/avatars/pepperfm.jpg
  content/authors/pepperfm.md
  content/plugins/images/pepperfm-json.jpg
  content/plugins/pepperfm-json.md
  public/images/content/authors/avatars/pepperfm.webp
  public/images/content/plugins/images/pepperfm-json.webp
Labels: new plugin, new author

#481 Adds password expiry package
  content/plugins/eightynine-password-expiry.md
  content/plugins/images/eightynine-password-expiry.png
  public/images/content/plugins/images/eightynine-password-expiry.webp
Labels: new plugin

#482 [Plugin] Add Sticky Notes Plugin
  content/plugins/3x1io-tomato-notes.md
  content/plugins/images/3x1io-tomato-notes.jpg
  public/images/content/plugins/images/3x1io-tomato-notes.webp
Labels: new plugin

#475 [Plugin] Adding author okeonline and plugin Archivable to website
  content/authors/avatars/okeonline.jpg
  content/authors/okeonline.md
  content/plugins/images/okeonline-archivable.jpg
  content/plugins/okeonline-archivable.md
  public/images/content/authors/avatars/okeonline.webp
  public/images/content/plugins/images/okeonline-archivable.webp
Labels: new plugin, changes requested, new author

#478 Add Guava Calendar plugin
  content/plugins/guava-calendar.md
  content/plugins/images/guava-calendar.jpg
  public/images/content/plugins/images/guava-calendar.webp
Labels: new plugin, changes requested

#484 adds sponsor link author eightynine
  content/authors/eightynine.md
Labels: author update

#487 [Plugin] Update autocomplete image
  content/plugins/images/tapp-network-google-autocomplete-field.jpg
  public/images/content/plugins/images/tapp-network-google-autocomplete-field.webp
Labels: plugin update

#488 update discord channel for tomato plugins
  content/plugins/3x1io-tomato-accounts.md
  content/plugins/3x1io-tomato-alerts.md
  content/plugins/3x1io-tomato-api.md
  content/plugins/3x1io-tomato-artisan.md
  content/plugins/3x1io-tomato-browser.md
  content/plugins/3x1io-tomato-cms.md
  content/plugins/3x1io-tomato-developer-gate.md
  content/plugins/3x1io-tomato-discord.md
  content/plugins/3x1io-tomato-ecommerce.md
  content/plugins/3x1io-tomato-fcm.md
  content/plugins/3x1io-tomato-helpers.md
  content/plugins/3x1io-tomato-icons.md
  content/plugins/3x1io-tomato-locations.md
  content/plugins/3x1io-tomato-media-manager.md
  content/plugins/3x1io-tomato-menus.md
  content/plugins/3x1io-tomato-notes.md
  content/plugins/3x1io-tomato-plugins.md
  content/plugins/3x1io-tomato-settings-hub.md
  content/plugins/3x1io-tomato-splade.md
  content/plugins/3x1io-tomato-translation-component.md
  content/plugins/3x1io-tomato-translations.md
  content/plugins/3x1io-tomato-twilio.md
  content/plugins/3x1io-tomato-types.md
  content/plugins/3x1io-tomato-users.md
  content/plugins/3x1io-tomato-wallet.md
Labels: plugin update

#489 [Plugin] Add Gaze plugin
  content/authors/avatars/discoverydesign.png
  content/authors/discoverydesign.md
  content/plugins/discoverydesign-gaze.md
  content/plugins/images/discoverydesign-gaze.jpg
  public/images/content/authors/avatars/discoverydesign.webp
  public/images/content/plugins/images/discoverydesign-gaze.webp
Labels: new plugin, changes requested, new author

#490 [Plugin] Filament unlayer plugin
  content/authors/InfinityXTech.md
  content/authors/avatars/infinityxtech.jpeg
  content/plugins/images/infinityxtech-unlayer.jpg
  content/plugins/infinityxtech-unlayer.md
  public/images/content/authors/avatars/infinityxtech.webp
  public/images/content/plugins/images/infinityxtech-unlayer.webp
Labels: new plugin, changes requested, new author

#492 Update plugin image
  content/plugins/images/novadaemon-pretty-json.jpg
  public/images/content/plugins/images/novadaemon-pretty-json.webp
Labels: plugin update

#491 [Plugin] email-2fa plugin and scaffold
  content/plugins/images/solution-forest-email-2fa.jpg
  content/plugins/images/solution-forest-scaffold.jpg
  content/plugins/solution-forest-email-2fa.md
  content/plugins/solution-forest-scaffold.md
  public/images/content/plugins/images/solution-forest-email-2fa.webp
  public/images/content/plugins/images/solution-forest-scaffold.webp
Labels: new plugin

#495 Add MediaAction plugin
  content/plugins/hugomyb-media-action.md
  content/plugins/images/hugomyb-media-action.jpeg
  public/images/content/plugins/images/hugomyb-media-action.webp
Labels: new plugin

#496 [Plugin] add PWA Generator Plugin
  content/plugins/3x1io-tomato-pwa.md
  content/plugins/images/3x1io-tomato-pwa.jpg
Labels: new plugin
