Repository filamentphp/filamentphp.com, pull requests merged in 2024-01, with the labels that each got.

#274 [Plugin] Voltra - filament-svg-avatar
  content/authors/avatars/voltra.png
  content/authors/voltra.md
  content/plugins/images/voltra-svg-avatar.jpeg
  content/plugins/voltra-svg-avatar.md
  public/images/content/authors/avatars/voltra.webp
  public/images/content/plugins/images/voltra-svg-avatar.webp
Labels: new plugin, new author

#288 feat: add check-pr-maintainer-access
  .github/workflows/check-pr-maintainer-access.yml
Labels: enhancement

#276 [Plugin] Filament Translate Action
  content/authors/afsakar.md
  content/authors/avatars/afsakar.jpg
  content/plugins/afsakar-translate-action.md
  content/plugins/images/afsakar-translate-action.png
  public/images/content/authors/avatars/afsakar.webp
  public/images/content/plugins/images/afsakar-translate-action.webp
Labels: new plugin, new author

#282 [Plugin] Radio Deck
  content/authors/avatars/jaocero.jpeg
  content/authors/jaocero.md
  content/plugins/images/jaocero-radio-deck.jpeg
  content/plugins/jaocero-radio-deck.md
  public/images/content/authors/avatars/jaocero.webp
  public/images/content/plugins/images/jaocero-radio-deck.webp
Labels: new plugin, new author

#285 [Plugin] Table Layout Toggle
  content/authors/avatars/tgeorgel.jpg
  content/authors/tgeorgel.md
  content/plugins/images/tgeorgel-table-layout-toggle.jpg
  content/plugins/tgeorgel-table-layout-toggle.md
  public/images/content/authors/avatars/tgeorgel.webp
  public/images/content/plugins/images/tgeorgel-table-layout-toggle.webp
Labels: new plugin, new author

#287 [Plugin] Add mokhosh kanban
  content/plugins/images/mokhosh-kanban.jpg
  content/plugins/mokhosh-kanban.md
  content/plugins/thumbnails/mokhosh-kanban.jpg
  public/images/content/plugins/images/mokhosh-kanban.webp
  public/images/content/plugins/thumbnails/mokhosh-kanban.webp
Labels: new plugin

#289 add popover plugin
  content/plugins/images/lara-zeus-popover.png
  content/plugins/lara-zeus-popover.md
  public/images/content/plugins/images/lara-zeus-popover.webp
Labels: new plugin

#291 [Plugin] Update link to documentation of Table Layout Toggle plugin
  content/plugins/tgeorgel-table-layout-toggle.md
Labels: plugin update

#294 [Article] "Filament: What to Expect in 2024"
  content/articles/alexandersix-filament-2024-goals.md
  public/images/content/articles/alexandersix-filament-what-to-expect-in-2024/filament-what-to-expect-in-2024.webp
Labels: new article

#298 Add "Handling Bulk Imports in Filament" article
  content/articles/alexandersix-handling-bulk-imports-in-filament.md
  public/images/content/articles/alexandersix-handling-bulk-imports-in-filament/column-mapping.webp
  public/images/content/articles/alexandersix-handling-bulk-imports-in-filament/handling-bulk-imports-in-filament.webp
Labels: new article

#300 RJS/Add Activitylog Pro plugin
  content/plugins/images/ralphjsmit-activitylog-pro.jpg
  content/plugins/ralphjsmit-activitylog-pro.md
  public/images/content/plugins/images/ralphjsmit-activitylog-pro.webp
Labels: new plugin

#292 [Plugin] Update Radio Deck plugin banner
  content/plugins/images/jaocero-radio-deck.jpeg
  public/images/content/plugins/images/jaocero-radio-deck.webp
Labels: plugin update

#293 [Plugin] pelmered/filament-money-field
  content/authors/avatars/pelmered.jpg
  content/authors/pelmered.md
  content/plugins/images/pelmered-money-field.jpeg
  content/plugins/pelmered-money-field.md
  public/images/content/authors/avatars/pelmered.webp
  public/images/content/plugins/images/pelmered-money-field.webp
Labels: new plugin, new author

#304 adding zeus accordion plugin
  content/plugins/images/lara-zeus-accordion.png
  content/plugins/lara-zeus-accordion.md
  public/images/content/plugins/images/lara-zeus-accordion.webp
Labels: new plugin

#305 new author "mvenghaus" and plugin "translatable-inline"
  content/authors/avatars/mvenghaus.jpg
  content/authors/mvenghaus.md
  content/plugins/images/mvenghaus-translatable-inline.jpg
  content/plugins/mvenghaus-translatable-inline.md
  public/images/content/authors/avatars/mvenghaus.webp
  public/images/content/plugins/images/mvenghaus-translatable-inline.webp
Labels: new plugin, new author

#306 add Hera plugin
  content/plugins/images/lara-zeus-hera.png
  content/plugins/lara-zeus-hera.md
  public/images/content/plugins/images/lara-zeus-hera.webp
Labels: new plugin

#296 Add Translate Field Plugin
  content/plugins/images/solution-forest-translate-field.jpg
  content/plugins/solution-forest-translate-field.md
  public/images/content/plugins/images/solution-forest-translate-field.webp
Labels: new plugin, pending changes

#297 [Plugin] Renew password periodically or other
  content/authors/avatars/yebor974.jpg
  content/authors/yebor974.md
  content/plugins/images/yebor974-renew-password.jpg
  content/plugins/yebor974-renew-password.md
  public/images/content/authors/avatars/yebor974.webp
  public/images/content/plugins/images/yebor974-renew-password.webp
Labels: new plugin, pending changes, new author

#309 RJS/Update Activitylog documentation
  content/plugins/ralphjsmit-activitylog-pro.md
Labels: plugin update

#312 Add v3.2 release article
  content/articles/alexandersix-filament-v3-2.md
  public/images/content/articles/alexandersix-filament-v3-2/banner.webp
  public/images/content/articles/alexandersix-filament-v3-2/clusters.webp
  public/images/content/articles/alexandersix-filament-v3-2/deferred-table-filters.webp
  public/images/content/articles/alexandersix-filament-v3-2/export-action.webp
  public/images/content/articles/alexandersix-filament-v3-2/grouped-table-columns.webp
  public/images/content/articles/alexandersix-filament-v3-2/key-value-entry.webp
  public/images/content/articles/alexandersix-filament-v3-2/revealable-password-field.webp
  public/images/content/articles/alexandersix-filament-v3-2/split-layout.webp
  public/images/content/articles/alexandersix-filament-v3-2/toggle-buttons.webp
Labels: new article

#314 [PLUGIN] Activity Timeline - update plugin category and description
  content/plugins/jaocero-activity-timeline.md
Labels: plugin update

#313 New Country (ISO 639-1) Field
  content/authors/avatars/parfaitementweb.jpeg
  content/authors/parfaitementweb.md
  content/plugins/images/parfaitementweb-country-field.jpeg
  content/plugins/parfaitementweb-country-field.md
  public/images/content/authors/avatars/parfaitementweb.webp
  public/images/content/plugins/images/parfaitementweb-country-field.webp
Labels: new plugin, new author

#316 [new plugin] add zeus inline chart
  content/plugins/images/lara-zeus-inline-chart.png
  content/plugins/lara-zeus-inline-chart.md
  public/images/content/plugins/images/lara-zeus-inline-chart.webp
Labels: new plugin

#317 RJS/Add Filament Usage Recorder per-panel docs for Filament Pulse package
  content/plugins/ralphjsmit-pulse.md
Labels: plugin update

#315 [Plugin] - Open Street Map
  content/authors/avatars/traineratwot.jpg
  content/authors/traineratwot.md
  content/plugins/images/traineratwot-openstreetmap.jpg
  content/plugins/traineratwot-openstreetmap.md
  public/images/content/authors/avatars/traineratwot.webp
  public/images/content/plugins/images/traineratwot-openstreetmap.webp
Labels: new plugin, new author

#320 Remove duplicate paragraph in handling bulk exports article
  content/articles/alexandersix-handling-bulk-imports-in-filament.md
Labels: article update

#323 RJS/Fix examples for Notifications Pro
  content/plugins/ralphjsmit-activitylog-pro.md
  content/plugins/ralphjsmit-notifications-pro.md
Labels: plugin update

#325 RJS/Fix links
  content/plugins/ralphjsmit-media-library-manager.md
  content/plugins/ralphjsmit-notifications-pro.md
  content/plugins/ralphjsmit-onboarding-manager-pro.md
  content/plugins/ralphjsmit-pulse.md
Labels: plugin update

#332 RJS/Doc updates
  content/plugins/ralphjsmit-activitylog-pro.md
  content/plugins/ralphjsmit-media-library-manager.md
Labels: plugin update
