Repository filamentphp/filamentphp.com, pull requests merged in 2025-03, with the labels that each got.

#689 Switch click here for learn more
  docs/src/components/UtilityInjection.astro
Labels: documentation

#672 [PLUGIN] Add Quick Links plugin
  content/plugins/images/niladam-quick-links.jpg
  content/plugins/niladam-quick-links.md
  public/images/content/plugins/images/niladam-quick-links.webp
Labels: new plugin

#673 [Author][Plugin] Filament Access Control
  content/authors/avatars/chiiya.jpg
  content/authors/chiiya.md
  content/plugins/chiiya-access-control.md
  content/plugins/images/chiiya-access-control.jpg
  public/images/content/authors/avatars/chiiya.webp
  public/images/content/plugins/images/chiiya-access-control.webp
Labels: new plugin, new author

#675 Update assistant engine plugin
  content/authors/assistant-engine.md
  content/authors/avatars/assistant-engine.jpeg
  content/plugins/assistant-engine-assistant-engine.md
  content/plugins/images/assistant-engine-assistant-engine.jpeg
  public/images/content/authors/avatars/assistant-engine.webp
Labels: plugin update

#676 Submitting plugin filamentor-page-builder
  content/authors/avatars/george-semaan.jpeg
  content/authors/george-semaan.md
  content/plugins/george-semaan-filamentor-page-builder.md
  content/plugins/images/george-semaan-filamentor-page-builder.jpg
  public/images/content/authors/avatars/george-semaan.webp
  public/images/content/plugins/images/george-semaan-filamentor-page-builder.webp
Labels: new plugin, new author

#679 [Author][Plugin] - Add Relation-Manager-Repeater plugin
  content/authors/avatars/zvizvi.jpg
  content/authors/zvizvi.md
  content/plugins/images/zvizvi-relation-manager-repeater.jpg
  content/plugins/zvizvi-relation-manager-repeater.md
  public/images/content/authors/avatars/zvizvi.webp
  public/images/content/plugins/images/zvizvi-relation-manager-repeater.webp
Labels: new plugin, new author

#681 [Plugin] - Workflows
  content/plugins/images/monzer-workflows.jpeg
  content/plugins/monzer-workflows.md
  public/images/content/plugins/images/monzer-workflows.webp
Labels: new plugin

#683 [Author][Plugin] Image Radio Button by Mohamed Elkoumi
  content/authors/alkoumi.md
  content/authors/avatars/alkoumi.JPG
  content/plugins/alkoumi-image-radio-button.md
  content/plugins/images/alkoumi-image-radio-button.jpg
  public/images/content/authors/avatars/alkoumi.webp
  public/images/content/plugins/images/alkoumi-image-radio-button.webp
Labels: new plugin, new author

#684 [Plugin] - Chatify integration
  content/plugins/images/monzer-chatify-integration.jpg
  content/plugins/monzer-chatify-integration.md
  public/images/content/plugins/images/monzer-chatify-integration.webp
Labels: new plugin

#685 Add plugin Filament Exact and Author profile jessedev
  content/authors/avatars/jessedev.jpg
  content/authors/jessedev.md
  content/plugins/images/jessedev-exact.jpg
  content/plugins/jessedev-exact.md
  public/images/content/authors/avatars/jessedev.webp
  public/images/content/plugins/images/jessedev-exact.webp
Labels: new plugin, new author

#686 [Plugin] - Add Glow Starter Kit plugin
  content/plugins/ercogx-glow-starter-kit.md
  content/plugins/images/ercogx-glow-starter-kit.jpg
  public/images/content/plugins/images/ercogx-glow-starter-kit.webp
Labels: new plugin

#691 [Author] [Plugin] New Plugin - Multi 2FA
  content/authors/avatars/mix-code.jpg
  content/authors/mix-code.md
  content/plugins/images/mix-code-multi-2fa.jpg
  content/plugins/mix-code-multi-2fa.md
  public/images/content/authors/avatars/mix-code.webp
  public/images/content/plugins/images/mix-code-multi-2fa.webp
Labels: new plugin, new author

#694 [Plugin] - Url Image Uploader
  content/authors/amjadiqbal.md
  content/authors/avatars/amjadiqbal.jpg
  content/plugins/amjadiqbal-url-image-uploader.md
  content/plugins/images/amjadiqbal-url-image-uploader.jpg
  public/images/content/authors/avatars/amjadiqbal.webp
  public/images/content/plugins/images/amjadiqbal-url-image-uploader.webp
Labels: new plugin, new author

#687 [Author] [Plugin] Fluent - Workflow Manager
  content/authors/avatars/devaslan.png
  content/authors/devaslan.md
  content/plugins/devaslan-fluent.md
  content/plugins/images/devaslan-fluent.png
  public/images/content/authors/avatars/devaslan.webp
  public/images/content/plugins/images/devaslan-fluent.webp
Labels: new plugin, new author

#678 Cwsps154 Profile and Plugin added
  content/authors/avatars/code-with-sps-154.png
  content/authors/code-with-sps-154.md
  content/plugins/code-with-sps-154-app-settings.md
  content/plugins/code-with-sps-154-users-roles-permissions.md
  content/plugins/images/code-with-sps-154-app-settings.jpg
  content/plugins/images/code-with-sps-154-users-roles-permissions.jpg
  public/images/content/authors/avatars/code-with-sps-154.webp
  public/images/content/plugins/images/code-with-sps-154-app-settings.webp
  public/images/content/plugins/images/code-with-sps-154-users-roles-permissions.webp
Labels: new plugin, changes requested, new author

#696 Update Discord url for OpenAI Assistant plugin
  content/plugins/ercogx-openai-assistant.md
Labels: plugin update

#695 Revert "Add plugin Filament Exact and Author profile jessedev"
  content/authors/avatars/jessedev.jpg
  content/authors/jessedev.md
  content/plugins/images/jessedev-exact.jpg
  content/plugins/jessedev-exact.md
  public/images/content/authors/avatars/jessedev.webp
  public/images/content/plugins/images/jessedev-exact.webp
Labels: plugin update, author update

#682 [Author][Plugin] Database Mail Plugin by Martin Petricko
  content/authors/avatars/martin-petricko.jpg
  content/authors/martin-petricko.md
  content/plugins/images/martin-petricko-database-mail.jpg
  content/plugins/martin-petricko-database-mail.md
  public/images/content/authors/avatars/martin-petricko.webp
  public/images/content/plugins/images/martin-petricko-database-mail.webp
Labels: new plugin, new author, paid plugin
