Repository filamentphp/filamentphp.com, pull requests merged in 2025-08, with the labels that each got.

#811 Add Apility author and Intercom plugin
  content/authors/apility.md
  content/authors/avatars/apility.jpg
  content/plugins/apility-intercom.md
  content/plugins/images/apility-intercom.jpg
  public/images/content/authors/avatars/apility.webp
  public/images/content/plugins/images/apility-intercom.webp
Labels: new plugin, changes requested, new author

#861 [Plugins] - Add support for Filament v4 to Renew Password Plugin
  content/plugins/yebor974-renew-password.md
Labels: plugin update

#858 [Plugin] Add Social Share Action
  content/plugins/images/tapp-network-social-share.jpg
  content/plugins/tapp-network-social-share.md
  public/images/content/plugins/images/tapp-network-social-share.webp
Labels: new plugin

#850 feat(plugins): update plugins for v4 compatibility and docs_url paths
  content/plugins/jeffersongoncalves-check-whois-widget.md
  content/plugins/jeffersongoncalves-cookie-consent.md
  content/plugins/jeffersongoncalves-fathom.md
  content/plugins/jeffersongoncalves-one-time-operations.md
  content/plugins/jeffersongoncalves-pixel.md
  content/plugins/jeffersongoncalves-qrcode-field.md
  content/plugins/jeffersongoncalves-umami.md
  content/plugins/jeffersongoncalves-whatsapp-widget.md
Labels: plugin update

#847 Filament 4 support for Nord Theme
  content/plugins/andreia-bohner-nord-theme.md
Labels: plugin update

#842 Support v4 for Phone Input
  content/plugins/ysfkaya-phone-input.md
Labels: plugin update

#841 add filament v4 to filament-jalali plugin
  content/plugins/ariaieboy-jalali.md
Labels: plugin update

#840 Support V4 Lexical Editor
  content/plugins/malzariey-lexical-editor.md
Labels: plugin update

#823 Add v4 support for socialite plugin
  content/plugins/dododedodonl-socialite.md
Labels: plugin update

#822 Add Filament v4 support for Page Bookmarks plugin
  content/plugins/jaysontemporas-page-bookmarks.md
Labels: plugin update

#821 add v4 support ariaieboy/filament-currency plugin
  content/plugins/ariaieboy-currency.md
Labels: plugin update

#819 chore: indicate v4 support for swisnl-backgrounds
  content/plugins/swisnl-backgrounds.md
Labels: plugin update

#851 Add Martin Knops author profile and Watchdog plugin
  content/authors/avatars/martin-knops.jpg
  content/authors/martin-knops.md
  content/plugins/images/martin-knops-watchdog.jpg
  content/plugins/martin-knops-watchdog.md
  public/images/content/authors/avatars/martin-knops.webp
  public/images/content/plugins/images/martin-knops-watchdog.webp
Labels: new plugin, new author

#846 Added the promethys-revive plugin
  content/authors/avatars/promethys.jpg
  content/authors/promethys.md
  content/plugins/images/promethys-revive.jpg
  content/plugins/promethys-revive.md
  public/images/content/authors/avatars/promethys.webp
  public/images/content/plugins/images/promethys-revive.webp
Labels: new plugin, new author

#838 Add filament advanced choice plugin
  content/plugins/codewithdennis-advanced-choice.md
  content/plugins/codewithdennis-advanced-components.md
  content/plugins/images/codewithdennis-advanced-choice.png
  public/images/content/plugins/images/codewithdennis-advanced-choice.webp
Labels: new plugin

#832 Update solution-forest-simple-contact-form.md
  content/plugins/solution-forest-simple-contact-form.md
Labels: plugin update

#830 Added filament iconoir icons
  content/plugins/filafly-iconoir-icons.md
  content/plugins/images/filafly-iconoir-icons.jpg
  public/images/content/plugins/images/filafly-iconoir-icons.webp
Labels: new plugin

#829 Plugin - Flat Theme
  content/authors/avatars/spykapp.jpg
  content/authors/spykapp.md
  content/plugins/images/spykapp-flat-theme.jpg
  content/plugins/spykapp-flat-theme.md
  public/images/content/authors/avatars/spykapp.webp
  public/images/content/plugins/images/spykapp-flat-theme.webp
Labels: new plugin, new author, pending discord channel

#818 [ADD] new package: filament-sub-navigation
  content/plugins/hayder-hatem-sub-navigation.md
  content/plugins/images/hayder-hatem-sub-navigation.jpg
  public/images/content/plugins/images/hayder-hatem-sub-navigation.webp
Labels: new plugin, pending discord channel

#827 Glassy Theme
  content/authors/avatars/matilde-enevoldsen.jpg
  content/authors/matilde-enevoldsen.md
  content/plugins/images/matilde-enevoldsen-glassy-theme.png
  content/plugins/matilde-enevoldsen-glassy-theme.md
  public/images/content/authors/avatars/matilde-enevoldsen.webp
  public/images/content/plugins/images/matilde-enevoldsen-glassy-theme.webp
Labels: new plugin, changes requested, pending discord channel

#817 plugin submission for filament alert box
  content/authors/avatars/mohammad-arif.jpg
  content/authors/mohammad-arif.md
  content/plugins/images/mohammad-arif-alert-box.png
  content/plugins/mohammad-arif-alert-box.md
  public/images/content/authors/avatars/mohammad-arif.webp
  public/images/content/plugins/images/mohammad-arif-alert-box.webp
Labels: new plugin, new author, pending discord channel

#892 Add Filament 4 support for Hexa Role & Permissions
  content/plugins/hexters-hexa.md
Labels: plugin update

#891 Add Filament 4 support for impersonate
  content/plugins/joseph-szobody-impersonate.md
Labels: plugin update

#890 Add Filament V4 support for hugomyb-error-mailer
  content/plugins/hugomyb-error-mailer.md
Labels: plugin update

#888 Plugins - Add Filament v4 support for Miguilim Auto Panel
  content/plugins/miguilim-auto-panel.md
Labels: plugin update

#887 Add Filament 4 support for Survey
  content/plugins/tapp-network-laravel-survey.md
Labels: plugin update

#886 Update wallacemaxters-image-color-picker.md
  content/plugins/wallacemaxters-image-color-picker.md
Labels: plugin update

#885 Update supported Filament versions for themes
  content/plugins/zepfietje-themes.md
Labels: plugin update

#882 Add filament 4 support for log-viewer
  content/plugins/gboquizosanchez-log-viewer.md
Labels: plugin update

#881 Update alkoumi-image-radio-button.md
  content/plugins/alkoumi-image-radio-button.md
Labels: plugin update

#877 Updating version compatibility of plugin and theme
  content/plugins/filafly-lucent-theme.md
  content/plugins/filafly-phosphor-icons.md
  content/plugins/images/filafly-lucent-theme.jpg
  public/images/content/plugins/images/filafly-lucent-theme.webp
Labels: plugin update

#864 Filament v4 support for log viewer
  content/plugins/achyutn-log-viewer.md
Labels: plugin update

#910 Update doc reference v2 3
  content/plugins/hexters-hexa.md
Labels: plugin update

#907 Add Awin Theme plugin
  content/authors/avatars/resma.jpg
  content/authors/resma.md
  content/plugins/images/resma-awin-theme.jpg
  content/plugins/resma-awin-theme.md
  public/images/content/authors/avatars/resma.webp
  public/images/content/plugins/images/resma-awin-theme.webp
Labels: new plugin, pending discord channel

#911 Update mrpowerup82-sql-field.md
  content/plugins/mrpowerup82-sql-field.md
Labels: plugin update

#900 Add a new plugin (Font Picker)
  content/authors/avatars/charlie-etienne.jpeg
  content/authors/charlie-etienne.md
  content/plugins/charlie-etienne-font-picker.md
  content/plugins/images/charlie-etienne-font-picker.jpg
Labels: new plugin, pending discord channel

#912 [Plugin] PrettyJson Filament v4 support
  content/plugins/novadaemon-pretty-json.md
Labels: plugin update

#876 Added Cypher theme
  content/plugins/filafly-cypher-theme.md
  content/plugins/images/filafly-cypher-theme.jpg
  public/images/content/plugins/images/filafly-cypher-theme.webp
Labels: new plugin, pending discord channel

#869 Add "Filament Smart CEP" plugin by Otávio Araújo
  content/authors/avatars/otavio-araujo.jpg
  content/authors/otavio-araujo.md
  content/plugins/images/otavio-araujo-smart-cep.jpg
  content/plugins/otavio-araujo-smart-cep.md
  public/images/content/authors/avatars/otavio-araujo.webp
  public/images/content/plugins/images/otavio-araujo-smart-cep.webp
Labels: new plugin, new author

#863 Added filafly brisk theme
  content/plugins/filafly-brisk-theme.md
  content/plugins/images/filafly-brisk-theme.jpg
  public/images/content/plugins/images/filafly-brisk-theme.webp
Labels: new plugin

#837 [Plugin] Add and update v4 support
  content/plugins/images/solution-forest-inspirecms-pro.png
  content/plugins/images/solution-forest-inspirecms.png
  content/plugins/images/solution-forest-tab-layout-plugin.jpg
  content/plugins/solution-forest-cms-website.md
  content/plugins/solution-forest-field-group.md
  content/plugins/solution-forest-firewall.md
  content/plugins/solution-forest-inspirecms-pro.md
  content/plugins/solution-forest-inspirecms.md
  content/plugins/solution-forest-tab-layout-plugin.md
  content/plugins/solution-forest-tree.md
  public/images/content/plugins/images/solution-forest-inspirecms-pro.webp
  public/images/content/plugins/images/solution-forest-inspirecms.webp
  public/images/content/plugins/images/solution-forest-tab-layout-plugin.webp
Labels: new plugin, plugin update

#913 [Plugin] Combobox Filament v4 support
  content/plugins/novadaemon-combobox.md
Labels: plugin update

#914 fix: repository url Mails plugin
  content/plugins/backstage-mails.md
Labels: plugin update

#915 [Plugin] Update Supported Version
  content/plugins/marjose123-lockscreen.md
  content/plugins/marjose123-webhook-server.md
Labels: plugin update

#916 Update my packages for filament v4
  content/plugins/guava-icon-picker.md
  content/plugins/guava-icon-select-column.md
  content/plugins/guava-knowledge-base.md
  content/plugins/guava-modal-relation-managers.md
Labels: plugin update

#917 [Plugin] Add support for version 4 Filament Model States
  content/plugins/maartenpaauw-model-states.md
Labels: plugin update

#919 IMP: V4 Support.
  content/plugins/asmit-nepali-resized-column.md
Labels: plugin update

#924 Update coolsam-modules: Support Filament v4
  content/plugins/coolsam-modules.md
Labels: plugin update

#933 Add v4 support to Filament Rating
  content/plugins/mokhosh-rating.md
Labels: plugin update

#932 Spotlight Pro v4 support
  content/plugins/pxlrbt-spotlight-pro.md
Labels: plugin update

#930 Supported v4 Plugins
  content/plugins/stephenjude-blog.md
  content/plugins/stephenjude-debugger.md
  content/plugins/stephenjude-feature-flags.md
  content/plugins/stephenjude-jetstream.md
  content/plugins/stephenjude-two-factor-authentication.md
Labels: plugin update

#929 Update Asosick Layout Manager to V4
  content/plugins/asosick-layout-manager.md
Labels: plugin update

#926 Update coolsam-flatpickr: Support Filament v4 and Tailwindcss v4
  content/plugins/coolsam-flatpickr.md
Labels: plugin update

#925 Flowforge plugin V4 support
  content/plugins/relaticle-custom-fields.md
  content/plugins/relaticle-flowforge.md
Labels: plugin update

#922 Add plugin: DB Config by Inerba
  content/authors/avatars/inerba.jpg
  content/authors/inerba.md
  content/plugins/images/inerba-db-config.webp
  content/plugins/inerba-db-config.md
  public/images/content/authors/avatars/inerba.webp
  public/images/content/plugins/images/inerba-db-config.webp
Labels: new plugin, new author

#928 Add plugin: Module Manager
  content/authors/alizharb.md
  content/authors/avatars/alizharb.jpeg
  content/plugins/alizharb-module-manager.md
  content/plugins/images/alizharb-module-manager.jpeg
  public/images/content/authors/avatars/alizharb.webp
  public/images/content/plugins/images/alizharb-module-manager.webp
Labels: new plugin, new author

#935 Added support for v4 to Filaletter plugin
  content/plugins/solution-forest-filaletter.md
Labels: plugin update

#937 Filament V4 Support
  content/plugins/attargah-admin-bar.md
Labels: plugin update

#938 Update tgeorgel-table-layout-toggle plugin informations for Filament v4
  content/plugins/tgeorgel-table-layout-toggle.md
Labels: plugin update

#941 fix(markdown): correctly rewrite relative src and srcset URLs to absolute
  app/Support/Markdown.php
Labels: bug
