Repository filamentphp/filamentphp.com, pull requests merged in 2025-01, with the labels that each got.

#603 Add niladam author & niladam-auto-logout plugin.
  content/authors/avatars/niladam.png
  content/authors/niladam.md
  content/plugins/images/niladam-auto-logout.jpg
  content/plugins/niladam-auto-logout.md
  public/images/content/authors/avatars/niladam.webp
  public/images/content/plugins/images/niladam-auto-logout.webp
Labels: new plugin, changes requested, new author, pending discord channel

#607 Add Filament ShortURL Plugin
  content/authors/a21ns1g4ts.md
  content/authors/avatars/a21ns1g4ts.jpg
  content/plugins/a21ns1g4ts-short-url.md
  content/plugins/images/a21ns1g4ts-short-url.jpg
  public/images/content/authors/avatars/a21ns1g4ts.webp
  public/images/content/plugins/images/a21ns1g4ts-short-url.webp
Labels: new plugin, changes requested, new author, pending discord channel

#612 [Plugin] Add Nord theme
  content/plugins/andreia-bohner-nord-theme.md
  content/plugins/images/andreia-bohner-nord-theme.jpg
  public/images/content/plugins/images/andreia-bohner-nord-theme.webp
Labels: new plugin, pending discord channel

#616 [Plugin]: Latex support for Filament
  content/authors/avatars/thethunderturner.jpg
  content/authors/thethunderturner.md
  content/plugins/images/thethunderturner-latex.png
  content/plugins/thethunderturner-latex.md
  public/images/content/authors/avatars/thethunderturner.webp
  public/images/content/plugins/images/thethunderturner-latex.webp
Labels: new plugin, changes requested, new author, pending discord channel

#620 [Plugin] Add `codewithdennis/filament-advanced-components` plugin
  content/plugins/codewithdennis-advanced-components.md
  content/plugins/images/codewithdennis-advanced-components.png
  public/images/content/plugins/images/codewithdennis-advanced-components.webp
Labels: new plugin, paid plugin, pending discord channel

#622 [Author][Plugin] Add Easy Footer plugin
  content/authors/avatars/devonab.jpg
  content/authors/devonab.md
  content/plugins/devonab-easy-footer.md
  content/plugins/images/devonab-easy-footer.jpg
  public/images/content/authors/avatars/devonab.webp
  public/images/content/plugins/images/devonab-easy-footer.webp
Labels: new plugin, new author, pending discord channel

#623 [Plugin] Add AutoTranslator plugin
  content/plugins/images/ralphjsmit-auto-translator.jpg
  content/plugins/ralphjsmit-auto-translator.md
  public/images/content/plugins/images/ralphjsmit-auto-translator.webp
Labels: new plugin, paid plugin, pending discord channel

#596 [Plugin] Add Filaletter plugin
  content/plugins/images/solution-forest-filaletter.png
  content/plugins/solution-forest-filaletter.md
  public/images/content/plugins/images/solution-forest-filaletter.webp
Labels: new plugin, changes requested, pending discord channel

#627 feat: add video conversion to HTML in Markdown parser
  app/Support/Markdown.php
  resources/views/plugins/view-plugin.blade.php
Labels: enhancement

#628 feat: add draft status for plugins
  app/Actions/GetPluginsListData.php
  app/Http/Controllers/Api/PluginController.php
  app/Models/Plugin.php
  resources/views/plugins/view-plugin.blade.php
Labels: enhancement

#638 Update Advanced Tables plugin and author bio
  content/authors/kenneth-sese.md
  content/plugins/kenneth-sese-advanced-tables.md
Labels: plugin update

#649 Wrap article title in an h1 instead of div
  resources/views/articles/view-article.blade.php
Labels: bug

#621 Add Jmeryar Accounting plugin
  content/authors/avatars/xoshbin.jpg
  content/authors/xoshbin.md
  content/plugins/images/xoshbin-jmeryar-accounting.jpg
  content/plugins/xoshbin-jmeryar-accounting.md
  public/images/content/authors/avatars/xoshbin.webp
  public/images/content/plugins/images/xoshbin-jmeryar-accounting.webp
Labels: new plugin, changes requested, new author, pending discord channel

#624 Publish Lexical Editor
  content/plugins/images/malzariey-lexical-editor.jpeg
  content/plugins/malzariey-lexical-editor.md
  public/images/content/plugins/images/malzariey-lexical-editor.webp
Labels: new plugin, changes requested, pending discord channel

#631 Update Companies v3 docs_url
  content/plugins/andrew-wallo-companies.md
Labels: plugin update

#633 [Plugin] Tooltip Column Length Limiter + Author page
  content/authors/avatars/defstudio.jpg
  content/authors/defstudio.md
  content/plugins/defstudio-column-length-limiter.md
  content/plugins/images/defstudio-column-length-limiter.jpg
  public/images/content/authors/avatars/defstudio.webp
  public/images/content/plugins/images/defstudio-column-length-limiter.webp
Labels: new plugin, new author
