Repository filamentphp/filamentphp.com, pull requests merged in 2025-06, with the labels that each got.

#764 Add Filament v4 Beta feature overview article
  content/articles/leandrocfe-filament-v4-beta-feature-overview.md
  package-lock.json
  public/images/content/articles/leandrocfe-filament-v4-beta-feature-overview/v4-beta-feature-overview.webp
Labels: new article

#778 Add tag V4 to support filamentphp v4
  content/plugins/agence-twogether-hooks-helper.md
Labels: plugin update

#777 add plugin & profile images and files
  content/authors/avatars/bostos.jpg
  content/authors/bostos.md
  content/plugins/bostos-reorderable-columns.md
  content/plugins/images/bostos-reorderable-columns.jpeg
  public/images/content/authors/avatars/bostos.webp
  public/images/content/plugins/images/bostos-reorderable-columns.webp
Labels: new plugin, new author

#786 Easy Footer plugin v4
  content/plugins/devonab-easy-footer.md
Labels: plugin update

#766 added alperen-ersoy-export plugin
  content/authors/alperen-ersoy.md
  content/authors/avatars/alperen-ersoy.jpg
  content/plugins/alperen-ersoy-export.md
  content/plugins/images/alperen-ersoy-export.jpg
  public/images/content/authors/avatars/alperen-ersoy.webp
  public/images/content/plugins/images/alperen-ersoy-export.webp
Labels: new plugin, new author

#763 Plugin: Filament Coupons
  content/plugins/images/noxoua-coupons.jpg
  content/plugins/noxoua-activity-log.md
  content/plugins/noxoua-coupons.md
  public/images/content/plugins/images/noxoua-coupons.webp
Labels: new plugin

#759 plugin: add date range plugin by CodeWithKyrian
  content/authors/avatars/codewithkyrian.jpeg
  content/authors/codewithkyrian.md
  content/plugins/codewithkyrian-date-range.md
  content/plugins/images/codewithkyrian-date-range.jpg
  public/images/content/authors/avatars/codewithkyrian.webp
  public/images/content/plugins/images/codewithkyrian-date-range.webp
Labels: new plugin, new author

#756 Add Widget Tabs Plugin
  content/authors/avatars/data-shkubuliani.jpeg
  content/authors/data-shkubuliani.md
  content/plugins/data-shkubuliani-widget-tabs.md
  content/plugins/images/data-shkubuliani-widget-tabs.jpg
  public/images/content/authors/avatars/data-shkubuliani.webp
  public/images/content/plugins/images/data-shkubuliani-widget-tabs.webp
Labels: new plugin, new author

#752 Added font awesome icon plugin
  content/plugins/filafly-font-awesome-icons.md
  content/plugins/images/filafly-font-awesome-icons.png
  public/images/content/plugins/images/filafly-font-awesome-icons.webp
Labels: new plugin

#751 docs: add gboquizosanchez/filament-log-viewer
  content/authors/avatars/gboquizosanchez.jpeg
  content/authors/gboquizosanchez.md
  content/plugins/gboquizosanchez-log-viewer.md
  content/plugins/images/gboquizosanchez-log-viewer.jpg
  public/images/content/authors/avatars/gboquizosanchez.webp
  public/images/content/plugins/images/gboquizosanchez-log-viewer.webp
Labels: new plugin, new author

#748 Plugin: Added kirschbaum author and Commentions package
  content/authors/avatars/kirschbaum.png
  content/authors/kirschbaum.md
  content/plugins/images/kirschbaum-commentions.jpg
  content/plugins/kirschbaum-commentions.md
  public/images/content/authors/avatars/kirschbaum.webp
  public/images/content/plugins/images/kirschbaum-commentions.webp
Labels: new plugin, new author

#746 update redberry description
  content/authors/redberry.md
Labels: author update

#744 plugin: add table select plugin
  content/authors/avatars/david-varilek.jpg
  content/authors/david-varilek.md
  content/plugins/david-varilek-table-select.md
  content/plugins/images/david-varilek-table-select.jpg
  public/images/content/authors/avatars/david-varilek.webp
  public/images/content/plugins/images/david-varilek-table-select.webp
Labels: new plugin, new author

#743 Jeffersongoncalves plugins
  content/authors/jeffersongoncalves.md
  content/plugins/images/jeffersongoncalves-fathom.png
  content/plugins/images/jeffersongoncalves-filakit.png
  content/plugins/images/jeffersongoncalves-pixel.png
  content/plugins/images/jeffersongoncalves-qrcode-field.png
  content/plugins/images/jeffersongoncalves-umami.png
  content/plugins/jeffersongoncalves-fathom.md
  content/plugins/jeffersongoncalves-filakit.md
  content/plugins/jeffersongoncalves-pixel.md
  content/plugins/jeffersongoncalves-qrcode-field.md
  content/plugins/jeffersongoncalves-umami.md
  public/images/content/plugins/images/jeffersongoncalves-fathom.webp
  public/images/content/plugins/images/jeffersongoncalves-filakit.webp
  public/images/content/plugins/images/jeffersongoncalves-pixel.webp
  public/images/content/plugins/images/jeffersongoncalves-qrcode-field.webp
  public/images/content/plugins/images/jeffersongoncalves-umami.webp
Labels: new plugin, new author

#735 Change password plugin content
  content/authors/avatars/hardik-khorasiya.jpg
  content/authors/hardik-khorasiya.md
  content/plugins/hardik-khorasiya-change-password.md
  content/plugins/images/hardik-khorasiya-change-password.png
  public/images/content/authors/avatars/hardik-khorasiya.webp
  public/images/content/plugins/images/hardik-khorasiya-change-password.webp
Labels: new plugin, changes requested, new author

#770 Adding things to create the CalendarInput plugin page
  content/authors/alvleont.md
  content/authors/avatars/alvleont.jpg
  content/plugins/alvleont-calendar-input.md
  content/plugins/images/alvleont-calendar-input.png
  public/images/content/authors/avatars/alvleont.webp
  public/images/content/plugins/images/alvleont-calendar-input.webp
Labels: new plugin, changes requested, new author

#787 Add `marcelweidum/filament-expiration-notice` plugin
  content/authors/avatars/marcelweidum.jpg
  content/authors/marcelweidum.md
  content/plugins/images/marcelweidum-expiration-notice.jpg
  content/plugins/marcelweidum-expiration-notice.md
  public/images/content/authors/avatars/marcelweidum.webp
  public/images/content/plugins/images/marcelweidum-expiration-notice.webp
Labels: new plugin, new author

#797 Update jeffersongoncalves-filakit.md
  content/plugins/jeffersongoncalves-filakit.md
Labels: plugin update

#796 Update Guava Packages
  content/plugins/guava-calendar.md
  content/plugins/guava-icons.md
  content/plugins/images/guava-icons.jpg
  public/images/content/plugins/images/guava-icons.webp
Labels: new plugin, plugin update

#792 Update marcelweidum-expiration-notice to support v3 & v4 and has translations
  content/plugins/marcelweidum-expiration-notice.md
Labels: plugin update

#758 plugin: add persistent url plugin
  content/authors/avatars/avexsoft.jpg
  content/authors/avexsoft.md
  content/plugins/avexsoft-purl.md
  content/plugins/images/avexsoft-purl.jpg
  public/images/content/authors/avatars/avexsoft.webp
  public/images/content/plugins/images/avexsoft-purl.webp
Labels: new plugin, changes requested, new author

#791 Add plugin `codewithdennis/filament-lucide-icons`
  content/plugins/codewithdennis-lucide-icons.md
  content/plugins/images/codewithdennis-lucide-icons.png
  public/images/content/plugins/images/codewithdennis-lucide-icons.webp
Labels: new plugin

#800 Update `codewithdennis` plugin versions to include version 4
  content/plugins/codewithdennis-advanced-components.md
  content/plugins/codewithdennis-simple-alert.md
Labels: plugin update

#801 CMSMax System Versions - Add support for v4
  content/plugins/cmsmax-system-versions.md
Labels: plugin update

#802 Add Filament v4 support for CMSMax Error Pages
  content/plugins/cmsmax-error-pages.md
Labels: plugin update

#804 feat: Add Filament v4 support for Versionable plugin
  content/authors/avatars/mansoor.jpeg
  content/plugins/images/mansoor-versionable.png
  content/plugins/mansoor-versionable.md
  public/images/content/authors/avatars/mansoor.webp
  public/images/content/plugins/images/mansoor-versionable.webp
Labels: plugin update

#803 submit plugin simple contact form
  content/plugins/images/solution-forest-simple-contact-form.jpg
  content/plugins/solution-forest-simple-contact-form.md
  public/images/content/plugins/images/solution-forest-simple-contact-form.webp
Labels: new plugin

#812 Update jeffersongoncalves-qrcode-field.md
  content/plugins/jeffersongoncalves-qrcode-field.md
Labels: plugin update
