Repository filamentphp/filamentphp.com, pull requests merged in 2025-05, with the labels that each got.

#697 [Plugin] Searchable Input
  content/plugins/defstudio-searchable-input.md
  content/plugins/images/defstudio-searchable-input.jpg
  public/images/content/plugins/images/defstudio-searchable-input.webp
Labels: new plugin

#702 Submit doonfrs-vscode-filament plugin
  content/authors/avatars/doonfrs.jpg
  content/authors/doonfrs.md
  content/plugins/doonfrs-vscode-filament.md
  content/plugins/images/doonfrs-vscode-filament.jpg
  public/images/content/authors/avatars/doonfrs.webp
  public/images/content/plugins/images/doonfrs-vscode-filament.webp
Labels: new plugin, new author

#704 add Torch Filament plugin
  content/plugins/images/lara-zeus-torch.jpeg
  content/plugins/lara-zeus-torch.md
  public/images/content/plugins/images/lara-zeus-torch.webp
Labels: new plugin

#706 add pixelpeter profile and language-tabs plugin
  content/authors/avatars/pixelpeter.jpg
  content/authors/pixelpeter.md
  content/plugins/images/pixelpeter-language-tabs.png
  content/plugins/pixelpeter-language-tabs.md
  public/images/content/authors/avatars/pixelpeter.webp
  public/images/content/plugins/images/pixelpeter-language-tabs.webp
Labels: new plugin, new author

#707 Add SWIS Activity Log plugin
  content/plugins/images/swisnl-activity-log.jpg
  content/plugins/swisnl-activity-log.md
  public/images/content/plugins/images/swisnl-activity-log.webp
Labels: new plugin

#709 Add Translatable Pro plugin
  content/plugins/afsakar-translatable-pro.md
  content/plugins/images/afsakar-translatable-pro.png
  public/images/content/plugins/images/afsakar-translatable-pro.webp
Labels: new plugin

#710 [Plugin] Sentry User Feedback Plugin by Martin Petricko
  content/plugins/images/martin-petricko-sentry-feedback.jpg
  content/plugins/martin-petricko-sentry-feedback.md
  public/images/content/plugins/images/martin-petricko-sentry-feedback.webp
Labels: new plugin

#711 Create victor-scatolon.md
  content/authors/avatars/victor-scatolon.jpg
  content/authors/victor-scatolon.md
  public/images/content/authors/avatars/victor-scatolon.webp
Labels: new author

#714 Add encoredigitalgroup/filament-helpers plugin
  content/authors/avatars/marc-beinder.jpg
  content/authors/marc-beinder.md
  content/plugins/images/marc-beinder-common-helper-components.jpg
  content/plugins/marc-beinder-common-helper-components.md
  public/images/content/authors/avatars/marc-beinder.webp
  public/images/content/plugins/images/marc-beinder-common-helper-components.webp
Labels: new plugin, new author

#715 Add Flowforge plugin and Update avatar image for Relaticle
  content/authors/avatars/relaticle.png
  content/plugins/images/relaticle-flowforge.jpg
  content/plugins/relaticle-flowforge.md
  public/images/content/authors/avatars/relaticle.webp
  public/images/content/plugins/images/relaticle-flowforge.webp
Labels: new plugin, author update

#722 [Plugin] Add Restore or Create Plugin by Martin Petricko
  content/plugins/images/martin-petricko-restore-or-create.jpg
  content/plugins/martin-petricko-restore-or-create.md
  public/images/content/plugins/images/martin-petricko-restore-or-create.webp
Labels: new plugin

#724 Plugin Update: Flatpickr; New Plugin: Nested Comments
  content/plugins/coolsam-flatpickr.md
  content/plugins/coolsam-nested-comments.md
  content/plugins/images/coolsam-flatpickr.jpg
  content/plugins/images/coolsam-flatpickr.png
  content/plugins/images/coolsam-nested-comments.jpg
  public/images/content/plugins/images/coolsam-flatpickr.webp
  public/images/content/plugins/images/coolsam-nested-comments.webp
Labels: new plugin, plugin update

#727 [Plugin] Nested Set Tree
  content/authors/avatars/studio-15.jpg
  content/authors/studio-15.md
  content/plugins/images/studio-15-nested-set-tree.jpg
  content/plugins/studio-15-nested-set-tree.md
  public/images/content/authors/avatars/studio-15.webp
  public/images/content/plugins/images/studio-15-nested-set-tree.webp
Labels: new plugin, new author

#732 Replacing plugin with new version
  content/plugins/filafly-phosphor-icons.md
  content/plugins/images/filafly-phosphor-icon-replacement.jpg
  content/plugins/images/filafly-phosphor-icons.png
  public/images/content/plugins/images/filafly-phosphor-icon-replacement.webp
  public/images/content/plugins/images/filafly-phosphor-icons.webp
Labels: plugin update

#703 fixed the styles of the multi language filter button
  resources/views/components/plugins/list.blade.php
Labels: bug

#700 Cvcwebsolutions/email pro
  content/authors/avatars/cvcwebsolutions.jpg
  content/authors/cvcwebsolutions.md
  content/plugins/cvcwebsolutions-email-pro.md
  content/plugins/images/cvcwebsolutions-email-pro.jpg
  public/images/content/authors/avatars/cvcwebsolutions.webp
  public/images/content/plugins/images/cvcwebsolutions-email-pro.webp
Labels: new plugin, changes requested, new author, paid plugin

#712 Create victor-scatolon-filament-attachment-library.md
  content/plugins/images/victor-scatolon-attachment-library.jpg
  content/plugins/victor-scatolon-attachment-library.md
  public/images/content/plugins/images/victor-scatolon-attachment-library.webp
Labels: new plugin, changes requested

#734 Add Leaflet Map Picker Plugin
  content/plugins/afsakar-leaflet-map-picker.md
  content/plugins/images/afsakar-leaflet-map-picker.png
  public/images/content/plugins/images/afsakar-leaflet-map-picker.webp
Labels: new plugin

#737 [Plugin] Update SuperDuper Starter Kit Content
  content/plugins/images/riodewanto-superduper-starter.png
  content/plugins/riodewanto-superduper-starter.md
  public/images/content/plugins/images/riodewanto-superduper-starter.webp
Labels: plugin update

#738 NEW[PLUGIN]: Add new pdf upload preview plugin.
  content/plugins/asmit-nepali-upload.md
  content/plugins/images/asmit-nepali-upload.jpg
  public/images/content/plugins/images/asmit-nepali-upload.webp
Labels: new plugin

#739 [Plugin] Update avatar image for Relaticle
  content/authors/avatars/relaticle.png
  public/images/content/authors/avatars/relaticle.webp
Labels: author update

#741 update image and description of redberry
  content/authors/redberry.md
  content/plugins/images/redberry-page-builder.jpg
  content/plugins/images/redberry-page-builder.png
  public/images/content/plugins/images/redberry-page-builder.webp
Labels: plugin update, author update

#742 Add filament plugin resized column
  content/plugins/asmit-nepali-resized-column.md
  content/plugins/images/asmit-nepali-resized-column.jpg
  public/images/content/plugins/images/asmit-nepali-resized-column.webp
Labels: new plugin
