Repository filamentphp/filamentphp.com, pull requests merged in 2025-09, with the labels that each got.

#965 Chore: updates for awcodes v4 compatible plugins
  content/plugins/awcodes-badgeable-column.md
  content/plugins/awcodes-gravatar.md
  content/plugins/awcodes-light-switch.md
  content/plugins/awcodes-matinee.md
  content/plugins/awcodes-overlook.md
  content/plugins/awcodes-palette.md
  content/plugins/awcodes-quick-create.md
  content/plugins/awcodes-recently.md
  content/plugins/awcodes-shout.md
  content/plugins/awcodes-sticky-header.md
  content/plugins/awcodes-versions.md
Labels: plugin update

#921 Add jacobtims plugins
  content/authors/avatars/jacobtims.jpeg
  content/authors/jacobtims.md
  content/plugins/images/jacobtims-inline-date-time-picker.jpeg
  content/plugins/images/jacobtims-logger.jpeg
  content/plugins/jacobtims-inline-date-time-picker.md
  content/plugins/jacobtims-logger.md
  public/images/content/authors/avatars/jacobtims.webp
  public/images/content/plugins/images/jacobtims-inline-date-time-picker.webp
  public/images/content/plugins/images/jacobtims-logger.webp
Labels: new plugin, changes requested, new author, pending discord channel

#955 NEW PLUGIN: Filament push notifications
  content/authors/avatars/xentixar.jpg
  content/authors/xentixar.md
  content/plugins/images/xentixar-push-notifications.png
  content/plugins/xentixar-push-notifications.md
  public/images/content/authors/avatars/xentixar.webp
  public/images/content/plugins/images/xentixar-push-notifications.webp
Labels: new plugin, new author, pending discord channel

#957 add plugin solution-forest-filament-panzoom
  content/plugins/images/solution-forest-header-select.png
  content/plugins/images/solution-forest-panzoom.jpg
  content/plugins/solution-forest-header-select.md
  content/plugins/solution-forest-panzoom.md
  public/images/content/plugins/images/solution-forest-header-select.webp
  public/images/content/plugins/images/solution-forest-panzoom.webp
Labels: new plugin

#996 Adds Tonegabes Better Options
  content/plugins/images/tonegabes-better-options.jpg
  content/plugins/tonegabes-better-options.md
Labels: new plugin, pending discord channel

#993 Added filament hugeicons icons
  content/plugins/filafly-hugeicons-icons.md
  content/plugins/images/filafly-hugeicons-icons.jpg
  public/images/content/plugins/images/filafly-hugeicons-icons.webp
Labels: new plugin

#990 Plugin submission: Filament Helpdesk
  content/authors/avatars/umnidev.jpg
  content/authors/umnidev.md
  content/plugins/images/umnidev-helpdesk.jpg
  content/plugins/umnidev-helpdesk.md
  public/images/content/authors/avatars/umnidev.webp
  public/images/content/plugins/images/umnidev-helpdesk.webp
Labels: new plugin, new author, pending discord channel

#983 Add themes manager plugin
  content/plugins/alizharb-themes-manager.md
  content/plugins/images/alizharb-themes-manager.jpeg
  public/images/content/plugins/images/alizharb-themes-manager.webp
Labels: new plugin, pending discord channel

#982 Plugin Filament Gallery supports v4
  content/plugins/grz-adamczyk-gallery.md
  content/plugins/images/grz-adamczyk-gallery.jpg
  public/images/content/plugins/images/grz-adamczyk-gallery.webp
Labels: plugin update

#949 Add Filament Game Icons plugin
  content/plugins/alizharb-game-icons.md
  content/plugins/images/alizharb-game-icons.jpeg
  public/images/content/plugins/images/alizharb-game-icons.webp
Labels: new plugin, changes requested, pending discord channel

#978 Language Switcher plugin by Craft Forge
  content/authors/avatars/craft-forge.jpg
  content/authors/craft-forge.md
  content/plugins/craft-forge-language-switcher.md
  content/plugins/images/craft-forge-language-switcher.jpg
  public/images/content/authors/avatars/craft-forge.webp
  public/images/content/plugins/images/craft-forge-language-switcher.webp
Labels: new plugin, new author, pending discord channel

#977 Add Rich Editor Fullscreen plugin
  content/authors/avatars/mdobes.jpg
  content/authors/mdobes.md
  content/plugins/images/mdobes-rich-editor-fullscreen.jpg
  content/plugins/mdobes-rich-editor-fullscreen.md
Labels: new plugin, new author, pending discord channel

#971 Add new plugin - StateFusion
  content/authors/assem-alwaseai.md
  content/authors/avatars/assem-alwaseai.jpg
  content/plugins/assem-alwaseai-statefusion.md
  content/plugins/images/assem-alwaseai-statefusion.jpeg
  public/images/content/authors/avatars/assem-alwaseai.webp
  public/images/content/plugins/images/assem-alwaseai-statefusion.webp
Labels: new plugin, new author, pending discord channel

#963 Plugins Support for Filament 4.x
  content/authors/bezhansalleh.md
  content/plugins/bezhansalleh-google-analytics.md
  content/plugins/bezhansalleh-language-switch.md
  content/plugins/bezhansalleh-panel-switch.md
  content/plugins/bezhansalleh-plugin-essentials.md
  content/plugins/bezhansalleh-shield.md
  content/plugins/images/bezhansalleh-google-analytics.png
  content/plugins/images/bezhansalleh-language-switch.jpg
  content/plugins/images/bezhansalleh-language-switch.png
  content/plugins/images/bezhansalleh-panel-switch.jpg
  content/plugins/images/bezhansalleh-panel-switch.png
  content/plugins/images/bezhansalleh-plugin-essentials.png
  content/plugins/images/bezhansalleh-shield.png
  public/images/content/plugins/images/bezhansalleh-google-analytics.webp
  public/images/content/plugins/images/bezhansalleh-language-switch.webp
  public/images/content/plugins/images/bezhansalleh-panel-switch.webp
  public/images/content/plugins/images/bezhansalleh-plugin-essentials.webp
  public/images/content/plugins/images/bezhansalleh-shield.webp
Labels: plugin update

#961 Add Muazzam Ali Khan + Slick Scrollbar plugin
  content/authors/avatars/muazzam-ali-khan.jpg
  content/authors/muazzam-ali-khan.md
  content/plugins/images/muazzam-ali-khan-slick-scrollbar.jpg
  content/plugins/muazzam-ali-khan-slick-scrollbar.md
  public/images/content/authors/avatars/muazzam-ali-khan.webp
  public/images/content/plugins/images/muazzam-ali-khan-slick-scrollbar.webp
Labels: new plugin, new author, pending discord channel
