Repository filamentphp/filamentphp.com, pull requests merged in 2025-02, with the labels that each got.

#639 [Plugin] filament translatable tabs
  content/authors/abdulmajeed-jamaan.md
  content/authors/avatars/abdulmajeed-jamaan.jpeg
  content/plugins/abdulmajeed-jamaan-translatable-tabs.md
  content/plugins/images/abdulmajeed-jamaan-translatable-tabs.jpg
  public/images/content/authors/avatars/abdulmajeed-jamaan.webp
  public/images/content/plugins/images/abdulmajeed-jamaan-translatable-tabs.webp
Labels: new plugin, new author

#641 ✨ [AUTHOR][PLUGIN] - Add Web^ID author & Druid plugin
  content/authors/avatars/web-id.jpg
  content/authors/web-id.md
  content/plugins/images/web-id-druid.jpg
  content/plugins/web-id-druid.md
  public/images/content/authors/avatars/web-id.webp
  public/images/content/plugins/images/web-id-druid.webp
Labels: new plugin, new author

#644 Added Filafly author and Phosphor Icon Replacement plugin
  content/authors/avatars/filafly.jpg
  content/authors/filafly.md
  content/plugins/filafly-phosphor-icon-replacement.md
  content/plugins/images/filafly-phosphor-icon-replacement.jpg
  public/images/content/authors/avatars/filafly.webp
  public/images/content/plugins/images/filafly-phosphor-icon-replacement.webp
Labels: new plugin, new author

#651 [Plugin] - Add Author CMS Max and Filament Error Pages Plugin
  content/authors/avatars/cmsmax.png
  content/authors/cmsmax.md
  content/plugins/cmsmax-error-pages.md
  content/plugins/images/cmsmax-error-pages.jpg
  public/images/content/authors/avatars/cmsmax.webp
  public/images/content/plugins/images/cmsmax-error-pages.webp
Labels: new plugin, new author

#653 [Author page] fix typos and update defstudio description
  content/authors/defstudio.md
Labels: author update

#635 Added Collapse Group
  content/authors/avatars/drafolin.jpeg
  content/authors/drafolin.md
  content/plugins/drafolin-collapse-group.md
  content/plugins/images/drafolin-collapse-group.jpg
  public/images/content/authors/avatars/drafolin.webp
  public/images/content/plugins/images/drafolin-collapse-group.webp
Labels: new plugin, changes requested, new author

#652 [Author][Plugin] - Add Plugin Kaido-Kit Starter Kit for FilamentPhp
  content/authors/avatars/siubie.jpg
  content/authors/siubie.md
  content/plugins/images/siubie-kaido-kit.jpg
  content/plugins/siubie-kaido-kit.md
  public/images/content/authors/avatars/siubie.webp
  public/images/content/plugins/images/siubie-kaido-kit.webp
Labels: new plugin, new author

#655 [AUTHOR][PLUGIN] - add eightcedars author and inactivity guard plugin
  content/authors/avatars/eightcedars.jpg
  content/authors/eightcedars.md
  content/plugins/eightcedars-inactivity-guard.md
  content/plugins/images/eightcedars-inactivity-guard.jpeg
  public/images/content/authors/avatars/eightcedars.webp
  public/images/content/plugins/images/eightcedars-inactivity-guard.webp
Labels: new plugin, new author

#656 [AUTHOR][PLUGIN] - Add Layout Manager plugin & August Sosick author
  content/authors/asosick.md
  content/authors/avatars/asosick.jpg
  content/plugins/asosick-layout-manager.md
  content/plugins/images/asosick-layout-manager.jpg
  public/images/content/authors/avatars/asosick.webp
  public/images/content/plugins/images/asosick-layout-manager.webp
Labels: new plugin, new author

#659 [Plugin] Update the plugin features (supports dark mode, translations)
  content/plugins/niladam-auto-logout.md
Labels: plugin update

#660 [Plugin] Update the Custom Fields plugin image
  content/plugins/images/relaticle-custom-fields.jpg
  public/images/content/plugins/images/relaticle-custom-fields.webp
Labels: plugin update

#661 Update ysfkaya.md
  content/authors/ysfkaya.md
Labels: author update

#662 update afsakar.md
  content/authors/afsakar.md
Labels: author update

#663 [Plugin] Email verification alert
  content/authors/avatars/monzer.jpg
  content/authors/monzer.md
  content/plugins/images/monzer-email-verification-alert.jpeg
  content/plugins/monzer-email-verification-alert.md
  public/images/content/authors/avatars/monzer.webp
  public/images/content/plugins/images/monzer-email-verification-alert.webp
Labels: new plugin, new author

#664 [Plugin] Using dynamic docs md url, and update plugin image
  content/plugins/heloufir-kanban.md
  content/plugins/images/heloufir-kanban.png
  public/images/content/plugins/images/heloufir-kanban.webp
Labels: plugin update

#666 [Author][Plugin] Filament ChatGPT Agent
  content/authors/avatars/bas-schleijpen.jpg
  content/authors/bas-schleijpen.md
  content/plugins/bas-schleijpen-chatgpt-agent.md
  content/plugins/images/bas-schleijpen-chatgpt-agent.jpg
  public/images/content/authors/avatars/bas-schleijpen.webp
  public/images/content/plugins/images/bas-schleijpen-chatgpt-agent.webp
Labels: new plugin, new author

#667 [NEW PLUGIN] Filament mention feature within Richeditor field
  content/authors/asmit-nepali.md
  content/authors/avatars/asmit-nepali.jpg
  content/plugins/asmit-nepali-mention.md
  content/plugins/images/asmit-nepali-mention.jpg
  public/images/content/authors/avatars/asmit-nepali.webp
  public/images/content/plugins/images/asmit-nepali-mention.webp
Labels: new plugin, new author

#668 [Plugin] Cmsmaxinc system versions plugin
  content/plugins/cmsmax-system-versions.md
  content/plugins/images/cmsmax-system-versions.jpg
  public/images/content/plugins/images/cmsmax-system-versions.webp
Labels: new plugin

#669 [Author][Plugin] Dash Stack Theme
  content/authors/avatars/fa-braik.jpg
  content/authors/fa-braik.md
  content/plugins/fa-braik-dash-stack-theme.md
  content/plugins/images/fa-braik-dash-stack-theme.jpg
  public/images/content/authors/avatars/fa-braik.webp
  public/images/content/plugins/images/fa-braik-dash-stack-theme.webp
Labels: new plugin, new author
